[2017-02-12 21:51] kytrinyx opened #1 "Launch Checklist"
## Step 0: Prep the Repo (@kytrinyx)

- [x] Create the repository
- [x] Create starter issues
- [x] Turn on Travis CI for the track

## Step 1: Implement Exercises

- [x] Implement at least 10 problems

See the [contributing guide](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#porting-an-exercise-to-another-language-track) for the details about the format of an exercise.

The sh

[2017-02-12 21:51] kytrinyx opened #2 "Consider consistency for the exercises"
- Is there a style guide for TypeScript?
- Are these styles encouraged or enforced?
- Are there any conventions that we should adopt on this track for the sake of consistency?
- Can we enforce these?
- Is there a linter? Are there many? Should we use one?
- Is there a common convention for filenames? If not, what should our convention be?

Note that this is about the exercises (the test suites and

[2017-02-12 21:51] kytrinyx opened #3 "Implement Continuous Integration"
Implement a test suite that can run both locally and on Travis CI, that verifies that the example code passes the test suite for each exercise.

Things to consider:

If some tests are marked as skipped or pending in some way, then CI should remove these annotations so that all the tests run against the example, not just the first test.

If we need to rewrite the files in any way, we should copy th

[2017-02-20 19:09] masters3d commented on #3
Hi @kytrinyx
Could you add me as a maintainer so I can change the travis settings and accept PRs?
Thanks!

[2017-02-20 21:41] kytrinyx commented on #3
@masters3d absolutely! Done.

[2017-02-20 22:02] #3 closed

[2017-02-21 06:58] masters3d commented on #2
https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines

But it is not enforced. I did adopt some of these. Just encouraged.

Yes.

Only Warnings are emitted. The user is able to turn them off in the TSLint.json file.

TSLint. I just know of this. ESLint only works for JS.

The covention I adopted is the same as the JS track. Same as the folder same.

[2017-02-21 07:03] masters3d commented on #1
@kytrinyx  We are pretty much there. Let me know what else I need to do before activating it on the config.

[2017-02-21 16:09] kytrinyx commented on #1
Who should I add as track mentors on the site?

[2017-02-21 17:41] masters3d commented on #1
Could you add me? I don't have anybody else right now. Also, could you add me as mentor to the objc and swift track? Thank you.

[2017-02-21 22:33] kytrinyx commented on #1
@masters3d I've added you as a track mentor to all three tracks. I think that means we can turn it on :-)

[2017-02-22 07:23] masters3d opened #11 "Add CI for package code"
Add a make command that tests to make sure all common files are the same across all problems. This will ensure not edits get introduced in individual problems.

[2017-02-22 07:26] masters3d opened #12 "Add documentation about code ide"
Code IDE is an excellent cross platform IDE from Microsoft. We should add instructions on how to set it up to work with TS.

[2017-02-26 16:35] #11 closed

[2017-03-08 17:53] masters3d opened #21 "Implement grains after TS gains int Type"
Grains needs a BigInt Library http://www.2ality.com/2015/04/numbers-math-es6.html

https://github.com/Microsoft/TypeScript/issues/4639#issuecomment-284576263

[code]

[2017-03-28 18:15] #2 closed

[2017-04-04 16:00] kytrinyx opened #23 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 19:37] kytrinyx commented on #23
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-05-18 13:36] zgavin1 opened #28 "Config Details"
Would it be worth fleshing out the config.json file data? Currently every exercise is difficulty: 1 and have empty topics arrays.

I've been considering creating new exercises that would lend themselves to Typescript specific topics, like tsconfig options, typing with ```keyof``` and generic types, etc. Exercises like raindrops are good for picking up the basic syntax, but devs like myself could b

[2017-05-18 15:10] masters3d commented on #28
Take a look at the F# track, they have detailed topics. I love generics. I also maintain the Swift track and we have some more advanced problems. The Rust track also has a really good story on progressive disclosure of problems difficulties that are specific to rust which could be emulated.

[2017-06-04 11:52] Winston-Guess commented on #12
Yes please, I'm struggling to set it up T_T.

[2017-06-04 16:59] masters3d commented on #12
Have you tried this https://code.visualstudio.com/docs/languages/typescript ? Would you be interested in adding some links to our documentation that were helpful to you?

[2017-06-15 05:00] dsudia commented on #1
@kytrinyx @masters3d

I would be happy to be a maintainer for TS. Let me know if there's anything I need to do other than volunteer :).

[2017-06-15 05:15] masters3d commented on #1
@dsudia I'd love the help. Do you have time to implement a few excersices from the es6 track to ts? My goal is to implemt all the es6 track's excersices.

[2017-06-15 05:33] dsudia commented on #1
@masters3d yeah I can start working on that!

[2017-06-15 13:01] dsudia commented on #12
I use VS Code as my dominant editor for TS so I can add some info.

[2017-06-15 13:02] dsudia commented on #12
@masters3d

Although I think to stay neutral it should probably include info on how to set it up in a few editors, I could probably put something together about setting up VS Code, Atom and Webstorm.

[2017-06-15 14:30] dsudia commented on #12
@masters3d

Made a PR for discussion: https://github.com/exercism/xtypescript/pull/34

[2017-06-15 14:31] dsudia commented on #23
@masters3d @kytrinyx

This feels useful to me, but I just got here so will defer :).

Made a PR: https://github.com/exercism/xtypescript/pull/35

[2017-06-15 14:43] kytrinyx commented on #1
Fantastic! @dsudia I've added you to the team. There's some documentation in https://github.com/exercism/docs/tree/master/maintaining-a-track that might be useful. ✨ 💖 ✨

[2017-06-15 14:50] dsudia commented on #1
@kytrinyx

Thanks! I'll get to reading!

[2017-06-15 16:20] #12 closed

[2017-06-15 16:20] #23 closed

[2017-06-16 21:57] thedevelopnik opened #37 "Add more exercises from ECMAScript to TypeScript"
Below are exercises implemented in [the ES repo](https://github.com/exercism/xecmascript/tree/master/exercises) that could be easily translated to TS, that haven't already been implemented.

* Each new exercise should be submitted in its own PR that references this issue.
* Dependency versions should be consistent with the existing exercises.
* Exercise should be added to config.json
    * For now

[2017-06-16 22:24] dsudia opened #38 "Have exercises that expect non-class implementations?"
@masters3d @kytrinyx

I'm looking (and working) through the existing exercises and most of the ones I've looked at so far expect a class or object. One of the stereotypes about TS I've experienced in the wild is that you can't write JS the way you want to anymore, you have to basically write C# in JS. Or "TS is just so OO programmers can feel ok writing JS." Of course that's not true, for example

[2017-06-16 22:35] kytrinyx commented on #38
@dsudia From my perspective, Exercism is about teaching people about the basics of a language. I don't want to have consistency just for the sake of consistency. I think it would be very valuable to have exercises that take the various approaches that are idiomatic for the language.

TL;DR: Yes :) I think you're right that we should have some tests that expect a function.

[2017-06-16 22:41] dsudia commented on #38
Ok cool. I think the focus for now can be getting more exercises in and sorted by difficulty. Once the presentation order is fairly set some refactoring can be done to get a good mix of syntaxes.

[2017-06-16 22:54] kytrinyx commented on #38
@dsudia That sounds good

[2017-06-16 22:59] #38 closed

[2017-06-17 05:55] masters3d commented on #37
I'd recommend to pick 10 or less for the list and then just open new issues for a new groping. It helps prioritize the work.

[2017-06-17 20:14] masters3d commented on #38
@dsudia We dont always have to use classes; we can also use plain old JS objects but I do think we should wrapped them as a type `type Alias = { num: number }
`
I like the idea of having different types of syntax as the difficulty increases.

[2017-06-17 20:40] NobbZ opened #39 "Let the compiler shout at me on typeerrors:"
I expect the following snippet to barf at me before even trying to execute the tests:

[code]

Instead of barfing, `yarn test && yarn lint` just complains about `string` beeing a variable name which clashes with a built in type:

[code]

So currently, in how the tests are run, it seems as if typescript is just another typeless hell around javascript. Therefore the request to do the following:

* M

[2017-06-17 20:41] NobbZ commented on #39
PS: totally the same behaviour when s/string/number/

[2017-06-17 20:58] NobbZ commented on #39
OK, in the meantime I was able to find out, that `tsc` will complain about a syntax error:

[code]

After some googling I found that correct syntax for the class were:

[code]

compiling this, now successfully complains about types beeing incorrect:

[code]

Therefore I have to assume, that the typescript-track currently doesn't even use typescript!

[2017-06-17 22:12] masters3d commented on #39
Good point. I filed a bug/feature question.
As a work around we could run the compiler every time we run the tests to catch this
`    "test": "tsc -p . && jest --no-cache",
`
I do think since ts-jest compiles the code before running jest that they should display any errors from the compiler and fail.

[2017-06-17 22:33] NobbZ commented on #39
You filed a bug/feature where? Do you have a link/crossref?

[2017-06-17 22:38] masters3d commented on #39
https://github.com/kulshekhar/ts-jest/issues/250

[2017-06-17 22:38] NobbZ commented on #39
Also, a better way to alter the script line seems to be: `tsc --noEmit -p . && jest --no-cache`.

This way there is no javascript generated which leads to running the tests twice by `jest`

[2017-06-17 22:46] masters3d commented on #39
What rabbit hole. Others are also using --noEmit. I think that is what we are going to use too: https://github.com/ds300/react-native-typescript-transformer/issues/13

[2017-06-23 18:01] dsudia commented on #39
@masters3d

Thanks for doing that PR! Looks like a good solution.

[2017-06-23 18:18] #39 closed

[2017-06-26 16:47] dsudia opened #44 "Update config.json for new track features"
Update config to match requirements explained in https://github.com/exercism/discussions/issues/159

[2017-06-26 19:01] masters3d commented on #44
This is non actionable right now. Usually once a decision is done a mass issues goes out to all tracks that has details on what to do.

[2017-06-27 10:19] marekpetak opened #45 "Typescript: Using yarn lint will fail with error ' was unexpected at this time"
moved from https://github.com/exercism/exercism.io/issues/3572

Typescript excecism using Windows OS (8.1)

When running `yarn lint` above error will occur.
error details:

    yarn lint v0.24.5
    $ tslint '*.ts?(x)'; exit 0
    ' was unexpected at this time.

    E:\exercism\typescript\hamming>  "E:\exercism\typescript\hamming\node_modules\.bin\\node.exe"  "E:\exercism\typescript\hamming\node_m

[2017-06-27 10:32] NobbZ commented on #45
Basically there seem to be 2 problems in a single post, let me inspect them one after the other:

---

As I already have mentioned in the original issue, removing the quotes will cause issues on linux machines.

With quotes, the argument `*.ts?(x)` is passed as is to the program (`yarn`) in this case, and has to be parsed by it. Without the quotes, most shells will try to expand the glob. The shel

[2017-06-27 10:48] marekpetak commented on #45
So the intention was to simply force tslint to exit with 0, even if the output was different from 0?

[2017-06-27 10:59] NobbZ commented on #45
Yeah that was possibly the intention behind exit, but simply removing exit does not solve your problem that windows doesn't like the quotes.

[2017-06-27 16:15] masters3d commented on #45
yeah. The exit 0 was meant for CI. On the new version pushed a couple of days ago we have a special `lintci`.

In other news, I guess single quotes are not supported in [windows](https://github.com/palantir/tslint/issues/1375#issuecomment-230993311). @marekpetak  can you try with double quotes ? If that works we can update our repo. We currently do not have any windows boxes on CI.

[2017-06-27 16:21] masters3d opened #46 "Add windows CI"
HI @kytrinyx

It looks like [csharp](https://ci.appveyor.com/project/kytrinyx/xcsharp/build/1.0.455) has support for windows boxes using appveyor under your name.

We just had an issue #45 on windows on this track. Do you have a way to add typescript to the appveyor account so we can run windows tests?

Thanks!

[2017-06-27 16:25] kytrinyx commented on #46
Yepp, I've turned on AppVeyor for this project. Let me know if you need me to tweak any settings or whatnot.

[2017-06-27 21:35] NobbZ commented on #45
Just to make sure, trying using doublequotes means using the following snippet?

[code]

[2017-06-27 23:17] masters3d commented on #45
that is what I am thinking but I do not have a way to test on windows yet. Here is more info: https://github.com/eslint/eslint/issues/5796#issuecomment-206717297

[2017-06-28 05:36] masters3d commented on #46
yay got it working. Thanks!

[2017-06-28 05:36] #46 closed

[2017-06-28 05:56] masters3d commented on #45
This buy fix is failing on windows. Anybody with windows? https://github.com/exercism/typescript/pull/48

[2017-06-28 07:07] marekpetak commented on #45
"lint": "tslint \"*.ts?(x)\"; exit 0"

will fail on windows. removing `;exit 0` works

[2017-06-28 16:45] #45 closed

[2017-07-05 15:27] dsudia commented on #44
@masters3d

gotcha thanks! will close for now

[2017-07-05 15:27] #44 closed

[2017-07-21 18:33] dsudia commented on #37
@masters3d makes sense, I'll cut this down. Gonna start moving some over now. Sorry for the delay, we hit delivery of some major products in the last month.

[2017-08-09 21:47] masters3d opened #55 "Should we add https://github.com/prettier/prettier ?"

[2017-08-27 18:00] hoovercj opened #57 "Add stub exercise-name.ts files to each exercise"
When a user first downloads a typescript exercise they have a directory with a test file that imports a ts file, but that ts file doesn't exist.

For example, 'hello-world.test.ts' imports './hello-world.ts' but there is no stub file.

It is an unnecessary step to require users to open the test file for every exercise to check which file they need to create.

[2017-08-27 19:02] masters3d commented on #57
This is reasonable. We would also need to add a test to the CI to make sure all new exercises include a blank file.

[2017-08-28 18:50] dsudia commented on #55
@masters3d when in the process would it run? do you mean just for our tests and examples, or as something that modifies learners' code on save? I think I'd be fine with it for our code (just so any exercises that get added keep a consistent format) but not sure that I'd be comfortable messing with someone's style. Maybe could include it as a script they could run if they want to...

[2017-08-28 19:07] masters3d commented on #55
The project should have a style that is independent of the person contributing. This is similar to the way the linter works.

[2017-08-28 20:05] dsudia commented on #55
@masters3d sure I completely agree for the track itself. But are you suggesting it run on someone's solution they are going to submit as well? I think I phrased that poorly above.

[2017-09-08 17:38] lilislilit commented on #37
Maybe...just maybe...It would be beneficial to separate them, or some other, with lower priority and assign hacktoberfest tag to those tasks? Preparations are in full swing in other tracks :)

[2017-09-08 17:46] masters3d commented on #37
I am for separating them into individual issues.  Want to create them? I can add what ever tag they need. Let me know.

[2017-09-08 17:50] lilislilit commented on #37
@masters3d Yeah, I will create them in a couple of hours.

[2017-09-08 21:22] dsudia commented on #37
@lilislilit thanks for the help! I had been holding off to let all the config changes happen but now that those are going in this is a perfect time to jump in!

[2017-09-22 14:30] BrianDGLS opened #63 "Incorrect formatting of package.json version in exercises"
ISSUE:

When I fetch a new exercise running `npm install` fails due to an incorrectly formatted package.json number.

```npm WARN Invalid version: "0"```

FIX:

Add correctly formatted version number to the package.json files.

[2017-09-22 15:04] masters3d commented on #63
Good catch. we need to add a CI pass for NPM. Currently we only test on Yarn.

[2017-09-22 15:20] BrianDGLS commented on #57
I've added the stubs file and as well as a test for the CI in #65.

Ready for review.

[2017-09-22 15:26] BrianDGLS commented on #63
@masters3d not sure how best to check this.

I've added `@cd $(INTDIR) && npm install && npm lintci && npm test` to the Makefile, this duplicates the yarn checks.

Is that enough?

[2017-09-22 16:41] masters3d commented on #63
It should. That could be another PR too.

[2017-09-22 21:03] BrianDGLS commented on #57
@hoovercj @masters3d Happy for this issue to be closed?

[2017-09-22 21:06] BrianDGLS commented on #63
@masters3d I agree. I have removed the check as it was causing ci issues.

I think this should be a seperate pr, if it's needed. Validating the package.json doesnt seem to be straight forward, after playing round with it for a while.

There are a couple of npm packages which validate the package.json. They validate the entire file including author, license, etc.. So I think this would be best hand

[2017-09-22 21:41] hoovercj commented on #57
I've only looked on my phone but it looks good. I really appreciate this, I think it adds the polish this track deserves. Thank you!

[2017-09-23 02:33] masters3d opened #66 "Add test for stub exercise-name.ts files to each exercise"
Make sure that new exercises has stub files
reference #57

[2017-09-23 02:33] #57 closed

[2017-09-23 02:39] masters3d opened #67 "add a NPM pass to CI."
Currently we only test with yarn. We should add test for NPM just in case they diverge.
reference:
https://github.com/exercism/typescript/issues/63

[2017-09-23 02:40] #63 closed

[2017-09-23 02:42] masters3d commented on #57
@BrianDGLS Thanks for the PRs!

[2017-09-23 02:43] masters3d commented on #66
This was done already

[2017-09-23 02:43] #66 closed

[2017-09-28 13:35] lilislilit opened #68 "implement binary-search-tree"
As per #37, port exercise from ecmascript track

[2017-09-28 13:36] lilislilit commented on #37
@dsudia It seems like I am not able to add labels tho.

[2017-09-28 13:37] lilislilit opened #69 "implement clock"
As per #37, port exercise from ecmascript track

[2017-09-28 13:38] lilislilit opened #70 "implement largest-series-product"
As per #37, port exercise from ecmascript track

[2017-09-28 13:39] lilislilit opened #71 "implement linked-list"
As per #37, port exercise from ecmascript track

[2017-09-28 13:40] lilislilit opened #72 "implement nth-prime"
As per #37, port exercise from ecmascript track

[2017-09-28 13:40] lilislilit opened #73 "implement prime factors"
As per #37, port exercise from ecmascript track

[2017-09-28 13:42] lilislilit opened #74 "implement robot-simulator"
As per #37, port exercise from ecmascript track

[2017-09-28 13:42] lilislilit opened #75 "implement series"
As per #37, port exercise from ecmascript track

[2017-09-28 13:44] lilislilit opened #76 "implement sum-of-multiples"
As per #37, port exercise from ecmascript track

[2017-09-28 13:47] lilislilit commented on #37
https://github.com/exercism/csharp/issues/435 It should be added in lue of this, hope mainteners of this track will be able to do it soon for issues I created

[2017-09-28 19:08] masters3d commented on #37
label added. Thanks @lilislilit !

[2017-09-30 22:12] jspengeman commented on #71
Hey guys, I can pick this one up. I should have something ready for review in a couple of days.

[2017-09-30 23:05] jspengeman commented on #71
Just finished with the example file. It looks kind of mediocere when I use the type `any` for the value of the node and return values of `pop` and `unshift`. Any thoughts on making it generic? Considering a class `Node<T>` with a `LinkedList<T>` class as well. Although, it may be out of scope for the exercise. Thoughts?

[2017-09-30 23:47] masters3d commented on #71
Look at other types languages with generics?

https://github.com/exercism/swift/blob/master/exercises/linked-list/Sources/LinkedListExample.swift

[2017-10-01 09:12] BrianDGLS commented on #76
Added #78 for this.

[2017-10-01 09:13] BrianDGLS opened #79 "Automate migration of exercises from ECMAScript track"
I just added an exercise to this repo from the ECMAScript track. It looks to me like this would be quite an easy process to automate.

[2017-10-01 12:55] devshiva619 commented on #72
@lilislilit do you want to implement nth prime in typescript ?

[2017-10-01 14:26] rwaskiewicz commented on #69
@lilislilit Mind if I pick this up?

[2017-10-01 16:17] jspengeman commented on #71
Thanks, although the question was not how to implement it but rather if it was in scope for the person completing the exercise to be expected to have to complete it using generics. The example you posted actually answered _that_ question.

[2017-10-01 16:26] masters3d commented on #71
Oh I see. Usually we try to use all the facilities the language offers so we can show case their features. What is hard sometimes is how to write the tests in a way that will take advantages of the features of the language.

[2017-10-01 16:29] masters3d commented on #79
Since TS is a superset then in theory all ES problems are valid TS problems.

Usually we try to use all the facilities the language offers so we can show case their features.

In most cases the test files can be used with little modifications.

What is hard sometimes is how to write the tests in a way that will take advantages of the features of the language.

[2017-10-01 16:35] jspengeman commented on #71
Good to now. Thank you!

[2017-10-01 17:04] jspengeman commented on #71
I am a couple of questions:

1) How do I know what to put for the UUID of the exercise in the `config.json`, I am looking at the [ecmascript](https://github.com/exercism/ecmascript/blob/master/config.json#L147) repo as example?

2) In the ecmascript repository there are tests for the `delete` method [here](https://github.com/exercism/ecmascript/blob/master/exercises/linked-list/linked-list.spec.js

[2017-10-01 17:37] masters3d commented on #71
1. The UUID is a new thing that was introduced. It needs to be unique across all the tracks so that part should not be there same. You can get this from a UUID generator website. This is still new to me but there are some more hints on this on the general docs about contributing. If you still need help with this, you can ask somebody here https://gitter.im/exercism/support

2. Each track is able t

[2017-10-01 17:42] jspengeman commented on #71
Great, thank you for all the help thus far. I will have a PR out today.

[2017-10-01 17:47] masters3d commented on #71
The docs are changing but here is an older commit:
https://github.com/exercism/docs/blob/39109e34d3590b4b9399600a57798601353e96d2/language-tracks/configuration/README.md

You can also use this linter to generate a unique UUID
https://github.com/exercism/docs/blob/master/language-tracks/configuration/configlet.md
https://github.com/exercism/configlet/releases

[2017-10-01 18:00] rwaskiewicz commented on #69
Implemented in #81

[2017-10-01 20:15] jspengeman commented on #72
I believe that is the intention with all of these issues in the `typescript` repo.

[2017-10-02 14:16] #68 closed

[2017-10-02 14:16] #71 closed

[2017-10-02 14:16] #69 closed

[2017-10-02 22:22] OinkIguana commented on #75
Hello, I would like to take this one.

[2017-10-03 00:18] #75 closed

[2017-10-04 19:27] DFXLuna opened #84 "Boilerplate Code in Exercises"
Some of the other language tracks I've seen have boilerplate code in their submission files.

[Example from the C# track](https://github.com/exercism/csharp/blob/master/exercises/isogram/Isogram.cs)

Would it be worthwhile to add code like that to our exercises?

[2017-10-04 20:21] masters3d commented on #84
I think it is a good idea for the first few exercises.

[2017-10-04 22:23] jspengeman commented on #73
I can pick this one up. Should have a PR out in the next couple of days.

[2017-10-05 02:29] #73 closed

[2017-10-05 04:23] #84 closed

[2017-10-07 08:11] BrianDGLS commented on #76
@lilislilit @masters3d Can this be closed? #78 has been merged

[2017-10-07 08:37] #76 closed

[2017-10-07 18:37] BrianDGLS commented on #72
Added #87 for this.

[2017-10-07 18:41] BrianDGLS opened #88 "Ensure no exercise tests are skipped when running `make test`"
Some exercise tests are skipped when running make test.

This happens as tests have been marked to be skipped using the `xtest` function.
Any occurrences of `xtest` should be replaced with `xit`.

[2017-10-07 18:56] masters3d commented on #88
Good catch. We also need to find it.skip and xdescribe

[2017-10-07 18:56] masters3d commented on #88
https://github.com/facebook/jest/blob/HEAD/packages/eslint-plugin-jest/docs/rules/no-disabled-tests.md

[2017-10-07 19:04] BrianDGLS commented on #88
Added #89 for this.

Doesn't seem to be any occurrences of `it.skip` and `xdescribe`.
It looks like the usage of `xtest` comes from copying the ecmascript tests, so is something to keep an eye out for.

[2017-10-07 19:10] masters3d commented on #88
cook. Let’s leave this open so we can update ci to catch this with a linter or similar.

[2017-10-07 19:19] masters3d commented on #72
Thanks!

[2017-10-07 19:19] #72 closed

[2017-10-07 20:56] BrianDGLS opened #90 "Use more "official" logo"
The current typescript track logo doesn't resemble the actual typescript logo.

[2017-10-07 21:00] BrianDGLS commented on #90
I propose something similar to this [logo](https://raw.githubusercontent.com/BrianDGLS/typescript/05ef7baa47fdc8db669ccaf07c77fcbe51d59efc/img/icon.png)

[2017-10-07 23:15] #90 closed

[2017-10-10 15:58] deyshin commented on #70
I'll work on this.
Let's see how my evening goes.

[2017-10-10 15:59] deyshin commented on #74
I'll work on this.
Let's see how my evening goes.

[2017-10-11 16:38] lilislilit commented on #37
Almost all of them are implemented. Are we sure we don't need to add another bunch while october is still going strong?

[2017-10-11 16:44] masters3d commented on #37
@lilislilit Yes! go for it 👍

[2017-10-12 10:41] lilislilit opened #96 "implement two bucket"
As per #37, port exercise from ecmascript track

[2017-10-12 10:42] lilislilit opened #97 "implement connect"
As per #37, port exercise from ecmascript track

[2017-10-12 10:43] lilislilit opened #98 "implement alphametics"
As per #37, port exercise from ecmascript track

[2017-10-12 10:44] lilislilit opened #99 "implement circular buffer"
As per #37, port exercise from ecmascript track

[2017-10-12 10:46] lilislilit opened #100 "implement pythagorean triplet"
As per #37, port exercise from ecmascript track

[2017-10-12 10:47] lilislilit opened #101 "implement kindergarten garden"
As per #37, port exercise from ecmascript track

[2017-10-12 10:48] lilislilit opened #102 "implement diamond"
As per #37, port exercise from ecmascript track

[2017-10-12 10:48] lilislilit opened #103 "implement strain"
As per #37, port exercise from ecmascript track

[2017-10-12 10:49] lilislilit opened #104 "implement saddle points"
As per #37, port exercise from ecmascript track

[2017-10-12 10:50] lilislilit opened #105 "implement ocr numbers"
As per #37, port exercise from ecmascript track

[2017-10-12 10:51] lilislilit commented on #37
@masters3d Added a few more, hacktoberfest label for those would again be handy :)

[2017-10-12 14:58] dsudia commented on #55
@masters3d trip report on prettier. We've been using it at work for several months now and have run into an issue where it will reformat files on someone's branch that they haven't worked on (we run it on every file before commit) so we end up with PRs with 80 files changed, even if the person has only actually changed two files. If anyone has run into this and/or has a fix I'd be interested not j

[2017-10-12 14:59] dsudia commented on #79
Yeah, there are also places where the ES solutions take advantage of JS's soft types, like a place where something could be a string or undefined. The difficulty in automating that to TS is the exact problem that TS was meant to solve: it's hard for a machine to determine what those types are supposed to/could be.

[2017-10-14 20:17] masters3d commented on #70
https://github.com/exercism/typescript/pull/94

[2017-10-14 20:25] masters3d commented on #55
The same happens with other formation tools if they are run on the whole project. This can also happened if a new style rule is introduced in a newer version. I am not sure if its worth it. Probably just TSLint would be fine for now but I haven't tried it yet.

[2017-10-16 15:29] dsudia commented on #55
yeah. The issue we had with prettier is that we've been locked on the same version with the same config file for months and this happens. I tried a branch where I branched off master, ran it, merged all the changes back into master, then made a new branch and ran it, and it made 90 more changes (mostly tiny things like "move this thing that prettier just broke into two lines on the last branch bac

[2017-10-16 16:42] masters3d commented on #55
I was just thinking it could be its own command like `yarn pretty` in the same way that we have `yarn lint`. It only matters for people who are going to submit a new exercise to the repo.

I do think that it may be too new to implement because there seems to be new changes coming out frequently.

Maybe we just wait it out for a little longer.

[2017-10-17 00:42] deyshin commented on #70
Setting up WSL to properly `make test` took a lot longer than I thought. I'm getting to it tomorrow finally. My apologies for the delay on such a simple task!

[2017-10-17 01:18] jspengeman commented on #103
Glad to see more problems added. I can snag this one. I will have a PR out tomorrow!

[2017-10-17 23:22] #103 closed

[2017-10-18 00:49] deyshin commented on #70
Got it. I did not need to touch `make test` indeed. Thank you for the input!
I submitted the [#108](https://github.com/exercism/typescript/pull/108). Please let me know if the PR needs any changes!

[2017-10-18 03:28] jspengeman commented on #99
I can pick this one up. I will have something out for review soon.

[2017-10-20 12:02] deyshin commented on #74
I believe the issue is closed by #109. Anything else to be done for this work?

[2017-10-20 12:03] deyshin commented on #70
I believe the issue is closed by the #108. Anything more to add?

[2017-10-20 19:26] #74 closed

[2017-10-20 19:26] #70 closed

[2017-10-24 04:12] jspengeman commented on #99
@masters3d Want to close this issue?

[2017-10-24 15:01] #99 closed

[2017-11-01 06:33] #105 closed

[2017-11-01 21:22] #100 closed

[2017-11-03 17:53] masters3d opened #121 "Add Dynamic Import when avalible."
Dynamic import would allow us to be able to import the `exercise.example`but it that doesn't exist then we could just import `exercise`. This would help in development.
https://github.com/tc39/proposal-dynamic-import

This would be similar to what we already do in the Objective-C track

[code]

[2017-11-03 17:55] masters3d commented on #37
@lilislilit Thank you! This was a success! I am going to close this but I'll leave the remaining issues open.

[2017-11-03 17:55] #37 closed

[2017-11-03 17:56] #79 closed

[2017-11-03 17:58] masters3d commented on #1
@kytrinyx I thought I was able to add maintainers to the track? I think after the reorganization I am not able to do that. Do you intend to add that back?

[2017-11-05 16:06] kytrinyx commented on #1
@masters3d This hasn't changed, as far as I know. You're able to add people who are already part of the Exercism organization. I'll eventually finish writing the GitHub App that lets maintainers add maintainers to their tracks whether or not they're already part of the Exercism GitHub organization.

[2017-11-05 16:07] kytrinyx commented on #1
Oh. Also—that might be on your other tracks. Here your role isn't listed as "team maintainer". I'll change that now.

[2017-11-05 23:03] masters3d commented on #1
@kytrinyx Oh cool! Thanks!

[2017-11-23 00:56] vermiculus opened #124 "Core libs failing to compile?"
Relatively new to JS/TS (and certainly new to the node ecosystem), so bear with me…

[code]
gives me a good chunk of errors that would seem to have nothing to do with the exercise:
[code]
versions:
[code]

As the core libs are failing to compile, I can never get the tests to *actually* pass (even though I can see there are no errors with my file). What's going on, here?

[2017-11-23 17:20] bttf opened #125 "Need to add global.d.ts?"
There will be compilation errors for all test files with use of global variables `declare`, `it`, `xit`, etc...

Should we add a `global.d.ts` (described [here](https://basarat.gitbooks.io/typescript/docs/project/globals.html)) that specifies these globals, and add them to each of the exercises?

[2017-11-23 18:26] masters3d commented on #124
Do you get the same errors if you download this using the exercism client? exercism.io

[2017-11-23 19:06] vermiculus commented on #124
Is `exercism fetch` not the exercism client?

[2017-11-25 05:38] masters3d commented on #124
[code]

[code]

[2017-11-25 05:49] masters3d commented on #124
I am not seeing the same errors.

[2017-11-25 06:04] masters3d commented on #125
I am not sure I follow.

[2017-11-25 06:52] masters3d commented on #125
declare, it and xit are part Jest. Am I missing something? I am not a js/ts expert.

[2017-11-25 12:10] vermiculus commented on #124
As I'd expect, I just get the core lib errors:

[code]

[2017-11-25 17:31] masters3d commented on #124
Are you using visual studio?

I’m out of ideas.
https://github.com/Microsoft/TypeScript/issues/7369

Maybe try reinstalling TypeScript?

[2017-11-25 18:02] vermiculus commented on #124
I'm on OSX (and using emacs, but that shouldn't matter).

Alright, it took some finagling, but a full bore uninstall/reinstall worked. Here's my transcript in case anyone else runs into this issue.

[code]
and my lovely new test log:
[code]

[2017-11-25 18:02] #124 closed

[2017-11-25 18:08] vermiculus commented on #124
Thanks for your help!

In summary, a full bore uninstall/reinstall was the solution to *this* problem. I suspect `~/node_modules/` became somehow corrupted (or out-of-date?) and that removing it (after uninstalling typescript/yarn) was essential to the fix. So,
[code]

[2017-11-26 15:20] bttf commented on #125
anyone using a text editor that uses TypeScript's language services (tsserver) will see errors when they open the test files.

this is because `declare`, `it`, and `xit` are not declared anywhere in the global namespace

[2017-11-26 17:38] masters3d commented on #125
I use vs code which auto imports jest.
Other code editors also have auto import plug ins.

This is also coming to TS server I think.
https://github.com/Microsoft/TypeScript/pull/19069

[2017-12-01 06:15] masters3d commented on #125
Is that what you were thinking?

[2017-12-01 16:06] BrianDGLS commented on #125
This is not a code editor issue nor is it related to the Typescript language server.

@bttf,  In order to resolve your issues you need to run `npm install` or `yarn install` in the relevant directory. This will install `@types/jest` and remedy the issue..

[2017-12-01 18:28] #125 closed

[2017-12-06 21:25] masters3d opened #126 "Consider Using VSTS for CI"
https://docs.microsoft.com/en-us/vsts/build-release/actions/ci-build-github

VSTS, has linux, mac and windows servers and they now support YAML.

[2017-12-06 21:27] masters3d commented on #121
Available now: 2.4
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-4.html

[2017-12-11 16:06] thedevelopnik commented on #126
Is this something that we would ask Katrina about and want to keep in line with the larger org?

[2017-12-11 16:27] masters3d commented on #126
not really, the service is free and we have permissions to add it.

[2017-12-11 17:39] thedevelopnik commented on #126
What's the value add over the current TravisCI usage? The multiple steps part looks cool and similar to Circle2 or Gitlab.

[2017-12-11 19:24] masters3d commented on #126
Mostly learning experience, I've used GitlabCI and CircleCI too. Perhaps speed? Travisci is pretty slow during the day for the open source projects.

[2017-12-12 16:00] thedevelopnik commented on #126
Yeah that makes sense to me.

[2017-12-12 16:01] thedevelopnik commented on #121
So this will require a refactor of all existing exercises?

[2017-12-12 16:02] thedevelopnik commented on #67
could be done along with [#126](https://github.com/exercism/typescript/issues/126)

[2017-12-12 16:03] #28 closed

[2017-12-12 17:48] masters3d commented on #67
There are orthogonal issues.

[2017-12-12 17:49] masters3d commented on #121
Yeah, this would be a fund little project. It would mean that people can develop contributions and still be able to run using the normal yarn/npm process.

[2017-12-14 16:03] thedevelopnik commented on #121
Cool, I'm going on vacation on the 20th and will have some free time to actually do fun little projects, I can tackle this over the break.

[2017-12-14 21:09] masters3d commented on #121
Nice. Go for it!

[2017-12-14 21:17] masters3d commented on #21
Big in is at stage 3, log time coming.
https://github.com/tc39/proposal-bigint

[2017-12-26 19:53] thedevelopnik commented on #121
Starting on it now.

[2017-12-26 20:35] thedevelopnik commented on #121
@masters3d digging into this and I'm having some issues implementing it.

Started at the top level import, changing:

[code]

to

[code]

but now in the test code TS shows the error `Property 'parse' does not exist on type 'Promise<typeof ".../exercism/typescript/exercises/acronym/acronym.example">'`

It's a Promise that has yet to resolve.

That's why in the example you linked to above in the 2.4

[2017-12-26 20:36] thedevelopnik commented on #121
https://github.com/exercism/typescript/pull/129

[2018-01-01 20:08] thedevelopnik commented on #121
TypeScript will not compile if one of the imports isn't available/doesn't exist. This feature (in TS at least) seems to be more for memory/bundle optimization than for contingent importing. Closing this issue.

[2018-01-01 22:38] masters3d commented on #121
thanks for trying @thedevelopnik ! lets leave it open. i’d like to give it a try.

[2018-01-01 22:46] masters3d commented on #121
the next thing to try would be to yse the .then .catch
https://github.com/basarat/typescript-book/blob/master/docs/project/dynamic-import-expressions.md

[2018-01-02 16:04] antonshevyrin opened #130 "Exercise "Wordy": README.md doesn't exactly match tests"
In [README.md](https://github.com/exercism/typescript/blob/master/exercises/wordy/README.md) the following is written:

But in [wordy.tests.ts](https://github.com/exercism/typescript/blob/master/exercises/wordy/wordy.test.ts):

[code]

README.md doesn't say anything about implementing unary operations. I understand that handling exponentials is considered as optional but in my opinion it is still

[2018-01-03 20:33] antonshevyrin commented on #130
@masters3d
Actually after some investigations I found that this topic was already discussed before: https://github.com/exercism/problem-specifications/issues/738
And it is decided that tests shouldn't cover optional extensions.
This issue must be closed then. Sorry for wrong report!

[2018-01-03 20:33] #130 closed

[2018-01-05 07:58] masters3d commented on #121
Cant have top level await. May need to drop down to node for this feature
https://github.com/tc39/ecmascript-asyncawait/issues/9#issuecomment-127427447
https://gist.github.com/Rich-Harris/0b6f317657f5167663b493c722647221

[2018-01-07 21:32] masters3d commented on #121
This works but it is not ideal:

[code]

[2018-01-07 21:47] masters3d commented on #121
The next step would be to warp this into a library or function so that we could say.
[code]

[2018-01-07 21:52] masters3d commented on #121
On the flip-side, We could export conditionally on the user facing stub file (not example).

https://stackoverflow.com/a/43591970/3705470
[code]

[2018-02-04 20:55] kytrinyx opened #131 "bob: Update to clarify ambiguity regarding shouted questions"
**TL;DR**: the problem specification for the Bob exercise has been updated. Consider updating the test suite for Bob to match. If you decide not to update the exercise, consider overriding description.md.

-----

**Details**

The problem description for the Bob exercise lists four conditions:

- asking a question
- shouting
- remaining silent
- anything else

There's an ambiguity, however, for sho

[2018-02-04 22:28] kytrinyx commented on #131
I've submitted a PR to temporarily lock the description of 'bob' so that we can regenerate the exercise READMEs without worrying about getting an out-of-sync description.

This means that the exercises/bob/.meta/description.md file will need to be deleted if the test suite is updated to include the new rule.

[2018-02-06 21:18] masters3d commented on #131
I love this new system. We will keep it as is. Thanks!

[2018-02-06 21:18] #131 closed

[2018-03-02 21:44] masters3d commented on #88
Also we should check if that all tests are ignored expect for the first one. https://github.com/exercism/typescript/pull/139

[2018-03-05 18:20] masters3d commented on #104
https://github.com/exercism/typescript/pull/143

[2018-03-05 18:20] #104 closed

[2018-03-14 10:16] nywilken opened #153 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-03-14 11:11] CRivasGomez commented on #153
Hey @nywilken !
Thanks for addressing it. We're gonna take care of them as soon as possible 🙂

[2018-03-14 11:44] #153 closed

[2018-03-14 13:33] nywilken commented on #153
@CRivasGomez thanks for the quick turnaround on this issue.

[2018-03-16 03:24] matthewharwood opened #157 "npm run test just hangs on jest w/o any feedback"
Not really sure what's breaking in my case but when I run what I would think are passing test the command line gives zero feedback

On the hello-world untouched I get errors like:
[code]
But lines 11, 15 are `xit` and therefore shouldn't be called.

If I delete them or satisfy the tests than the command line gives me no feedback

Or if I complete the tests I get no feedback:
[code]

^ should satis

[2018-03-16 04:27] masters3d commented on #157
What global version of TS and node?

Have you tried yarn?

[2018-03-16 09:24] CRivasGomez commented on #157
Hi @matthewharwood !

Even when you tag your test cases with `xit` they will be examined by the TypeScript transpiler to find errors.

After fixing those tests, as @masters3d says, I would recommend you to run `yarn test` inside `hello-world` folder after running `yarn install` (instead of `npm test`)

If it doesn't work for you, let us know 👍

[2018-03-16 19:27] matthewharwood commented on #157
Still failing on my properly hello-world.ts. I uninstalled node_modules and deleted .locks files then `yarn installed` then `yarn test` and it hangs still.

tsc -v
Version 2.7.2

node -v
v9.4.0

 yarn -v
1.5.1

You mentioned to list my node version so...
I also tried to downgrade to` node LTS v8.10.0`. On a new hello-world project I ran
- `npm install -g typescript && yarn`
- `cd into hello-world`

[2018-03-16 19:51] matthewharwood commented on #157
Per @vermiculus comment in #124  I ran:
[code]

From there I cd into dir and this should have my `yarn install`:

[code]
I fixed the code for the tests again:

[code]

Ran same command:

[code]

[2018-03-17 20:31] masters3d commented on #157
okay. This may be a mac issue with the new version of ts.

@CRivasGomez Do you happen to have a mac to test this? I am on a windows machine this weekend.

[2018-03-17 21:46] CRivasGomez commented on #157
@masters3d I'm a using a mac machine with the latest version of TypeScript (2.7.2) installed.
I have just tested `hello-world` exercise and it works perfectly.

[2018-03-19 00:28] matthewharwood commented on #157
@crivasgomez if you complete the task

[code]

Do the tests still run or does it get hung up?

[2018-03-25 22:04] masters3d commented on #157
I haven’t been able to reproduce. Sorry. We added Mac builds and they are passing.

[2018-03-25 22:07] CRivasGomez commented on #157
@matthewharwood they run perfectly on my mac.

[2018-03-27 06:35] #101 closed

[2018-03-27 20:43] masters3d commented on #121
2.9 seems to be the version that we want fo this:
https://github.com/Microsoft/TypeScript/issues/14844

[2018-03-31 05:20] masters3d commented on #157
reopen if you feel this has not been addressed.

[2018-03-31 05:20] #157 closed

[2018-04-06 22:25] masters3d opened #184 "add Danger rule to detect places where we are avoiding the linter"
Perhaps we could then request comments to be added giving a reason why we are going around the linter.
- This is specially important for test cases because the end user will see them.
- Could be a good learning opportunity for other reading the comment.

[2018-04-07 17:08] CRivasGomez commented on #184
I agree. It can definitely be something valuable for the user.

[2018-04-15 03:14] nywilken opened #191 "Exercise ordering requires a bit of a tweak"
While testing with the latest release of Configlet the following violations were identified. One of which was previously fixed.

[code]

Instead of opening a PR to fix the violations based off my assumptions, I am opening up this issue so that a maintainer of the track can best advise on the proper exercise ordering from this point forward.

## Testing Steps
1. Download the latest release of Confi

[2018-04-15 03:29] masters3d commented on #191
I don’t have a preference on the order.

[2018-04-15 05:13] #191 closed

[2018-05-04 11:54] #102 closed

[2018-05-04 11:55] #96 closed

[2018-05-04 11:55] #97 closed

[2018-06-01 14:16] shybyte opened #199 "Wrong test case in exercise transpose ("test many lines")"
The test case "test many lines" in https://github.com/exercism/typescript/blob/master/exercises/transpose/transpose.test.ts doesn’t match the canonical test case in https://github.com/exercism/problem-specifications/blob/6dba022a2a238566dd91991fdce5211b47feae8f/exercises/transpose/canonical-data.json.
Actually in the current version (https://github.com/exercism/problem-specifications/blob/master/e

[2018-06-01 14:38] masters3d commented on #199
PR’s welcome.

We unfortunately do not try to keep up with the canonical data. Most of our exercises do not conform to the canonical data, it’s too much work for little gain.

Now we just maintain forks of the exercise. If somebody comes along and is motivated enough to update the exercise then we take the contribution.

Hope that helps.

[2018-06-02 23:01] kytrinyx opened #200 "Where are the TypeScript communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-12 02:52] kytrinyx opened #202 "Ensure TypeScript track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/typescript
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
-

[2018-06-12 08:21] CRivasGomez commented on #202
I think we could tick off all of the boxes right now.

What do we think @exercism/typescript @masters3d @thedevelopnik ?

[2018-07-01 18:35] Alleno opened #204 "Add instructions for debugging configuration"
Would it be possible for someone to add information about how to run a debug session in typescript? I've searched around on the VS Code documentation, and it doesn't seem to be well explained.

[2018-07-03 12:08] CRivasGomez commented on #204
Hey @Alleno!
The easiest workaround would be to debug the transpiled JavaScript code.

[2018-07-03 19:12] masters3d commented on #204
I know Visual Studio for windows has support for this.

Visual Studio code has some support here https://code.visualstudio.com/Docs/languages/typescript#_javascript-source-map-support

We are not able to provide documentation for every editor out there ;(

Reopen the issue if you are still having trouble.

[2018-07-03 19:12] #204 closed

[2018-07-03 19:57] Alleno commented on #204
Hi Cheyo,

Thanks for your response. I am using VS Code, and I've seen those
instructions at the link but they seem kind of unclear. Maybe if I figure
it out I can make  PR to the instructions sheet.

All the best,

Allen

On Tue, Jul 3, 2018 at 3:12 PM, Chéyo Jiménez <notifications@github.com>
wrote:

[2018-07-17 22:36] vogelbek opened #205 "yarn test hangs with "RUNS ./hello_world.test.ts""
Hello,

I've encountered an issue with getting `yarn test` to play nicely. It hangs displaying `RUNS ./hello_world.test.ts. The output looks like this:
[code]
Note that RUNS is highlighted, and the output seems to be refreshing because I can not copy it until I ctrl-c out of the process.

Yarn lint looks fine:
[code]

### Jest problem?
I did google around a bit, and [Jest Issue #4529](https://gith

[2018-07-17 22:40] masters3d commented on #205
Can you post your working solution?

[2018-07-17 22:40] masters3d commented on #205
The hello_world.ts file

[2018-07-18 18:15] masters3d commented on #205
Check the version that the npm/yarn is using, it should match what is listed in the dependencies

`    "version-check": "tsc --version && jest --version && tslint --version",
`

Please open this again if you still need help

[2018-07-18 18:17] masters3d opened #207 "add version check to Package"
It would be nice if the version check was included in one of the script inside the package folder

"version-check": "tsc --version && jest --version && tslint --version"

also, we should probably move TSC, Jest to the dev dependencies.

[2018-07-18 18:53] vogelbek commented on #205
@masters3d Can you please tell me where to look for this?
When I look in the yarn.lock, I see the following:
`tslint@^5.8.0`
`jest-cli@^21.2.1`
TSC is not in the yarn.lock.

I might need you to assume less JS configuration knowledge on my part and be more specific in your recommendations. Thank you for trying to get through.

[2018-07-18 19:03] masters3d commented on #205
tsc is the typescript compiler. You want npm/yarn to use the one specified in the package dependency list.
[code]
if you add `"version-check": "tsc --version && jest --version && tslint --version",` to the package/ scripts
then you can do

```yarn run  version-check``` which should give you the same version listed in the package dependencies.

The only thing I can think of is that npm/yarn are usi

[2018-07-18 19:51] CRivasGomez commented on #207
Why we need to check the version of tsc, jest and tslint if they are always the same for all users?

Definitely yes 👍

[2018-07-18 19:52] #202 closed

[2018-07-18 21:05] masters3d commented on #207
Sanity check maybe? Do you know if the internal package is picked always over the global one if it exist?

[2018-07-19 05:13] CRivasGomez commented on #207
Yes. As [the chapter `Modules` on Node.js documentation](https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders) states it in the [`Loading from node_modules Folders`](https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders) section:

[2018-07-19 05:51] #207 closed

[2018-07-19 05:51] masters3d commented on #207
Sounds good.

[2018-07-19 17:06] vogelbek commented on #205
Thank you for the coaching. Here is what I found with that script:
[code]
Comparing to the dependencies in package.json:
[code]
could there be a problem with whether to use `@types/jest`, `jest`, or `ts-jest`?

[2018-07-19 17:41] masters3d commented on #205
Interesting,

This is what the yarn locked file says:
[code]
Delete your node_modules and replace your local lockfile and try again with yarn install.

[2018-07-19 17:43] masters3d commented on #205
I miss read. But do try nuking the node_modules and replace the lock file.

[2018-07-19 18:25] masters3d commented on #205
Somehow, there is a server or process running the file. I have no idea why this is happening. Could you try stackoverflow.com? The ` RUNS  ./hello-world.test.ts` should not be happening.

[code]

[2018-07-19 18:25] #205 closed

[2018-07-19 21:13] vogelbek commented on #205
SUCCESS!!!

Ran:
`rm -rf node_modules` and `rm yarn.lock`, and now `yarn test` runs the specs as expected.

@masters3d You have created good karma today, thank you!

[2018-08-03 16:14] jackhughesweb opened #209 "Fix getting started instructions for typescript"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-05 18:29] emiller42 opened #211 "accumulate.test.ts contains typoed 'split()' calls"
Looks like an aggressive find/replace on `it/xit` turned all the `split()` calls to `splxit()`

[2018-08-06 00:15] #211 closed

[2018-08-18 14:59] rootulp opened #215 "Why jest --no-cache?"
`yarn test` currently runs `jest --no-cache` but the [docs](https://jestjs.io/docs/en/cli.html#cache) say

So I'm wondering if `--no-cache` was set intentionally

[2018-08-18 15:28] masters3d commented on #215
Yeah it was. The TS to JS traspiler to TS jest was having issues to we turned this on.

[2018-08-18 16:08] Nandiin commented on #157
Installation of `fsevent` of version locked in downloaded `yarn.lock` file is failed, and installation of subsequent packages are also failed thus causing the hang-on.

Environments:
- macOS: 10.13.5 (17F77)
- node: v10.0.0
- yarn: 1.6.0
- network: Behind China GFW

Deleting the `yarn.lock` file before running `yarn install` would prevent the problem, but also causes the dependency resolution to r

[2018-08-19 00:08] #215 closed

[2018-08-19 00:08] #199 closed

[2018-08-19 18:58] kytrinyx opened #217 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-20 05:40] cmckni3 commented on #217
I couldn’t find anything in the tests to track versions.

[2018-08-20 06:43] #217 closed

[2018-10-04 00:07] delbertlegg commented on #98
I'll workn on this one.

[2018-10-04 05:36] CRivasGomez commented on #98
Nice! 😀

[2018-10-04 08:34] W0lfw00d commented on #98
I was also trying to fix this issue. 😰

I'm sure @delbertlegg's version will be better, but if someone could have a look at my pull request and tell me what's wrong with it. I would be grateful.

[2018-10-04 12:45] masters3d commented on #98
Thanks for the PR. I think we need to add more October fest tags.

[2018-10-04 14:20] masters3d opened #222 "Move same file check to danger"
Right now we check that all files are the same. This is done in make but these do not surface in the pr unless somebody checks the logs.

[2018-10-04 16:06] delbertlegg commented on #98
@W0lfw00d No worries, go for it!

[2018-10-08 15:41] YashdalfTheGray commented on #209
I can try and give this a shot over the next couple of nights!

[2018-10-09 15:04] #98 closed

[2018-11-04 04:48] jrr commented on #55
Kind of related, could/should we include a `.vscode/settings.json` with `"editor.formatOnSave": true`? This was one of the first things I did in my own repo when I started on the typescript track.

Can a given language track cause files to be placed at the level above individual exercises? (so we could have one .vscode directory as a sibling to the exercises, instead of inside each exercise)

[2018-11-21 07:08] PatrickMcSweeny opened #224 "Twelve-days is out of sync with specification"
The specification for the twelve days exercise [has changed](https://github.com/exercism/problem-specifications/pull/1329/files) and the typescript implementation needs to be updated.

[2018-11-21 21:39] #224 closed

[2018-11-30 01:16] masters3d commented on #21
its here
https://twitter.com/typescriptlang/status/1068250524108042240

[2019-01-12 22:48] sauntimo opened #226 "Perhaps exercise instructions could be made a little clearer?"
### Background
I came to exercism because I wanted to learn typescript with practical problems, and you have lots and they're really interesting, which is great. I'm familiar with JS but I've just started a new job where they use typescript extensively so I need to get on it.

### Problem?
So, I'm here to learn, but the scenarios themselves don't actually provide any guidance. Nothing about them s

[2019-01-12 23:57] sauntimo commented on #226
So, I uploaded an mostly empty solution to see other peoples and it turns out that what I did wrong was not make my method a `static` method. I had never heard of static methods but I trotted off and read about them [in the docs](https://www.typescriptlang.org/docs/handbook/classes.html) and now I know about them and can happily use them. It just seems to me that the instructions could have said "

[2019-01-17 21:40] masters3d commented on #226
Thanks for posting this issue. I am with you. We are open to accepting PR with changes to help drive this forward. Some of the other questions about the general design could probably be better answered at https://github.com/exercism/docs  Feel free to close this and/or open more narrowed scoped questions specific to TypeScript.

[2019-01-17 21:40] #1 closed

[2019-01-18 12:33] sauntimo commented on #226
@masters3d thanks for getting back to me. I'll close this and try to find some time to put in PRs for some exercise specific improvements 😄

[2019-01-18 12:33] #226 closed

[2019-01-29 01:31] sbrichards opened #228 "Sub-dependency depending on an old version of fsevents?"
Hey folks. First off, thanks for making such a great product.

I'm hitting a bit of an issue when running `yarn` in an exercise directory. E.g.

[code]

My node & yarn versions:
[code]

I found [this yarn issue with fsevents](https://github.com/yarnpkg/yarn/issues/5962) and [this one](https://github.com/yarnpkg/yarn/issues/3926), which indicate it's a sub-dependency issue that relies on an older v

[2019-01-29 23:15] masters3d commented on #228
Very possible. More than likely we just need to update. Would you like to summit a PR?

[2019-01-30 21:35] masters3d commented on #228
The release team has to push an update for all lang tracks. I am not sure how often that happens. Give it a day.

[2019-02-05 19:04] sbrichards commented on #228
FYI @masters3d I'm still hitting this issue.

[2019-02-05 19:39] masters3d commented on #228
Do you mind pinging the CLI repo? I actually have not clue about the
deployment to the live site. I dont know if they CLI overrides files
already fetched or if there is an option.

On Tue, Feb 5, 2019 at 11:04 AM Sam Richards <notifications@github.com>
wrote:

[2019-04-04 12:16] SleeplessByte opened #237 "Track Anatomy Maintainer"
Hi there @masters3d @thedevelopnik and @CRivasGomez,

## Project Track Anatomy

In the past months I have been reworking most of the JavaScript track in terms of the curriculum under the track-anatomy project. As part of this project I've written [plenty of notes](https://github.com/exercism/website-copy/pulls?q=is%3Apr+author%3ASleeplessByte+is%3Aclosed) both for JavaScript and TypeScript, trying

[2019-04-04 12:34] SleeplessByte opened #238 "Checklist: exercises that could be implemented"
- [ ] [affine-cipher](https://github.com/exercism/problem-specifications/tree/master/exercises/affine-cipher)
- [ ] [bank-account](https://github.com/exercism/problem-specifications/tree/master/exercises/bank-account)
- [ ] [binary](https://github.com/exercism/problem-specifications/tree/master/exercises/binary)
- [ ] [book-store](https://github.com/exercism/problem-specifications/tree/master/exer

[2019-04-04 12:58] SleeplessByte opened #239 "Checklist: core exercise mentor notes"
Mentor notes should be written here: [website-copy/tracks/typescript](https://github.com/exercism/website-copy/tree/master/tracks/typescript/exercises)

- [x] [leap](https://github.com/exercism/website-copy/blob/master/tracks/typescript/exercises/leap/mentoring.md)
- [ ] [simple-cipher](https://github.com/exercism/website-copy/blob/master/tracks/typescript/exercises/simple-cipher/mentoring.md)
- [

[2019-04-04 13:07] SleeplessByte opened #240 "Remove TSLint (and optionally replace with eslint-plugin)"
As you might have heard, TSLint has been [officially deprecated](https://medium.com/palantir/tslint-in-2019-1a144c2317a9) and will reach EOL soon.

The [official replacement](https://github.com/typescript-eslint/typescript-eslint) is a plugin on top of eslint:
- a [parser](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser)
- a [ruleset on top of eslint](https://git

[2019-04-04 18:28] masters3d commented on #240
I am cool with replacing TSLint as long as we move the configuration to ESLint. Just removing would be a regression.

[2019-04-04 18:41] SleeplessByte commented on #240
Regression in what sense?

I think that having linting on for maintainers is _amazing_ and we should do! But the exercise level should probably have very loose rules for the students. Currently it's enforcing style which *is not official* and there are _competing_ style guides, which is when forcing style is against exercism policy :)

For example: [this](https://github.com/exercism/typescript/blo

[2019-04-04 18:48] masters3d commented on #240
Yeah. We could edit the lint script to use a different configuration or like you said we could remove it. I don’t see why we would since it is not something that gets automatically ran like pretty or similar auto formatters.

  "scripts": {
    "test": "tsc --noEmit -p . && jest --no-cache",
    "lint": "tsc --noEmit -p . && tslint \"*.ts?(x)\"",
    "lintci": "tslint \"*.ts?(x)\" --force"
  },

[2019-04-04 19:07] SleeplessByte commented on #240
Ah, that is a [common mistake](https://github.com/exercism/javascript/issues/589#issuecomment-456144417):

The issue here is that having `.eslintrc` or `tslint.config` in the directory is enough for many IDEs to auto run its rules.

The steps we have taken at javascript so far are:

- [x] Replace track-level eslint to `recommended` (from strict `airbnb-base`)
- [x] Turn off a few stylistic rules t

[2019-04-05 04:45] masters3d commented on #240
The way I see the progression is to move to eslint while maintaining the same config and not style changes. Figure out a way to have the default be different than what gets ran on CI which should match the original.

[2019-04-09 04:34] keipoh6w opened #242 "No feedback for 50 days"
I submitted my first solution to Simple Cipher exercise on TypeScript track 50 days ago, but have not got any feedback. Is something wrong?

[2019-04-09 17:20] iHiD commented on #242
Do you have a solution id please?

[2019-04-10 21:15] #209 closed

[2019-04-11 11:10] SleeplessByte commented on #237
Closed by #241

[2019-04-11 11:10] #237 closed

[2019-04-12 08:55] SleeplessByte opened #247 "Create exercise versioning policy based on Haskell track"
Exercism tracking issue: https://github.com/exercism/exercism/issues/4786
- haskell: https://github.com/exercism/haskell/pull/717/files#diff-c6795c529069232683d979cd4239c219R2
- ocaml: https://github.com/exercism/ocaml/issues/283
- javascript: https://github.com/exercism/javascript/issues/628

**Note**: This is not the same as https://github.com/exercism/exercism/issues/4266 which removed tracking

[2019-04-12 09:07] SleeplessByte opened #248 "Curriculum: promote two-fer to core (round 2)"
**Note**: To be implemented after `track-anatomy` round 1.

`two-fer` is the designated exercise for project automated mentoring support. It's also a great replacement for `leap` (similar to [this change](https://github.com/exercism/javascript/issues/640)).

- [ ] sync `two-fer` with the problem specifications if needed
- [ ] promote `two-fer` to core, right after `hello-world`

[2019-04-12 09:10] SleeplessByte opened #249 "Curriculum: new track sequence (round 1)"
Similar to https://github.com/exercism/javascript/pull/590.

The `track-anatomy` tool outputs the following order for round 1:
- hello-world,
- leap,
- rna-transcription,
- space-age,
- pangram,
- bob,
- matrix,
- robot-name,
- grade-school,
- clock,
- secret-handshake,
- binary-search,
- linked-list,
- rational-numbers,
- atbash-cipher,
- simple-cipher,
- wordy,
- list-ops

As well as dropping th

[2019-04-12 11:51] SleeplessByte opened #250 "Checklist: normalise topics"
**Note**: the suggestions are generated automagically. If something is _actually_ missing, please open an issue at [problem-specifications](https://github.com/exercism/problem-specifications) to add the missing topics.

https://tracks.exercism.io/typescript/main/topics

[2019-04-25 10:38] SleeplessByte commented on #249
Closed by #252

[2019-04-25 10:38] #249 closed

[2019-04-28 15:52] JorisHey opened #255 "Error on "yargs" in test"
Any idea how to fix next error output when running "yarn test"

[code]

[2019-04-28 20:12] SleeplessByte commented on #255
Hi there!

You most likely have installed `typescript` globally, and its version is most likely outdated.

Here is example output of running `yarn global list`:
[code]

If this appears, and the version is lower than 3, this is definitely the issue. You can upgrade using:
[code]

The same issue can appear if your IDE comes with `typescript` bundled (like `vs code`). Upgrade your IDE in this case.

[2019-04-30 07:51] JorisHey commented on #255
@SleeplessByte big thanks for your respons.
Unfortunately
- I'm using typescript 3+
- I always have the latest version of VS code installed
- I have the same problem with "npm test" as "yarn test"

[2019-04-30 10:22] SleeplessByte commented on #255
Hey again!

Have you tried manually running `yarn tsc --noEmit -p . && jest --no-cache`? So _not_ `yarn test` or `npm test`?

Also, is there a `tsconfig.json` in the tree (e.g. Your exercises might be at `C:/Exercism/typescript`, is there a `tsconfig.json` or `package.json` at C:/Exercism or C:/?)

[2019-04-30 21:32] JorisHey commented on #255
Hello SleeplessByte

Yes... I've tried the yarn command (yarn tsc --noEmit -p . && jest --no-cache) with no positive result.
And both files are present. So there's a package.json file and a tsconfig.json

[2019-04-30 23:04] SleeplessByte commented on #255
Just for my sanity, can you post the contents of package.json and tsconfig.json here? You can attach files by dragging and dropping them into the comment box.

[2019-05-03 07:18] JorisHey commented on #255
[json.zip](https://github.com/exercism/typescript/files/3140913/json.zip)

[2019-05-12 08:09] kytrinyx opened #256 "Rational Numbers exercise test is failing on CI"
In #254 CI was failing for an unrelated reason.

<details>
 <summary>Log of failure on CI</summary>

[code]

</details>

[2019-05-14 21:15] masters3d opened #258 "Rational Numbers Float rounding error"
![image](https://user-images.githubusercontent.com/6539412/57732768-a6d6c680-7652-11e9-8320-3d74ea2bd82a.png)
https://github.com/exercism/typescript/pull/257

[2019-05-15 08:57] SleeplessByte commented on #258
Same as #256

[2019-05-15 17:42] #258 closed

[2019-05-15 19:12] #256 closed

[2019-05-25 20:07] gavinhenderson opened #260 "Bob challenge spec doesnt match the tests"
The tests for `bob` include the idea of 'forceful questions' which aren't mentioned at all in the spec. Is this by design?

Probably related to #131

[2019-05-25 20:55] masters3d commented on #260
Yes. You are welcome to submit a pr if you’ll like for them to match. At some point keeping up with the canonical set was way too much work so we started locking each implementation so they could diverge.

[2019-05-25 21:05] masters3d commented on #255
I don’t think we can help much here. This also remind me of Joe Armstrong video The mess we are in. https://youtu.be/lKXe3HUG2l4

[2019-05-25 21:05] #255 closed

[2019-05-31 22:55] SleeplessByte commented on #240
Working on this.

[2019-06-07 10:39] #248 closed

[2019-06-10 10:23] senpl commented on #239
Notes for two-fer exercise should be added ???

[2019-06-13 16:45] SleeplessByte commented on #239
@senpl https://github.com/exercism/website-copy/pull/1087

[2019-06-15 23:21] lwaite2010 opened #264 "Triangle exercise check invalid triangle when instantiated"
In the [Triangle exercise](https://github.com/exercism/typescript/tree/master/exercises/triangle), the tests check to see if the created triangle is valid when calling the `kind` function. However, I would argue that if you try to create a triangle with wrong sides, it should just fail instead of letting you continue on to testing the function.

It seems like it would be an easy fix, so is there a

[2019-06-16 00:39] masters3d commented on #264
We already throw in those cases? What sort of control flow you have in mind?

[2019-06-16 00:53] SleeplessByte commented on #264
I think he means that it should throw in the constructor, not when calling `kind()`.

[2019-06-16 01:17] lwaite2010 commented on #264
@SleeplessByte That's what I meant, sorry it wasn't more clear.

So basically the tests would look like this:
[code]
Instead of this:
[code]

[2019-06-16 01:18] masters3d commented on #264
I think there’re are thow options

1) return a nullable object this way if the constructor can return null

2) extend the enum with one more value for ErrorTriangle or something along those lines.

[2019-06-16 01:43] lwaite2010 commented on #264
I’m not sure what you mean.

[2019-06-16 01:50] masters3d commented on #264
[code]
or
[code]

I personal do not like throwing constructors because it forces all the callers to try catch

[2019-06-16 05:12] lwaite2010 commented on #264
@masters3d Sorry, I'm pretty new to TypeScript still. I've been looking to see how to return null from instantiating a class (for the first option you gave me), but I can't seem to find anything on how to do it.

The second option is what I'm trying to avoid (e.g., not knowing that the Triangle class doesn't work until you need it to). In an actual programming situation, I feel it would be better

[2019-06-16 05:55] masters3d commented on #264
I guess the first option is only avalible for static factories. https://github.com/Microsoft/TypeScript/issues/29893

[2019-06-16 14:50] lwaite2010 commented on #264
Alright. Since the current exercise setup is doing what it’s supposed to, and there doesn’t seem to be a simple way to change it without changing how the whole thing is done, I’ll just leave it the way it is.

Thanks for the informative discussion!

[2019-06-16 14:50] #264 closed

[2019-06-16 23:21] SleeplessByte commented on #264
Return `null` from a constructor is almost as bad as throwing an error, albeit a bit less boilerplate. The latter indeed, as @masters3d says, forces _each caller_ to wrap in `try { } catch { }`, but the former forces _each caller_ to wrap in a null-check, which is similarly bad.

I completely understand what @lwaite2010 is asking for, and _why_ it is, but I think the pattern we're using in the exe

[2019-08-03 18:19] kytrinyx opened #278 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-05 21:23] SleeplessByte commented on #278
Closing as we already provide this.

[2019-08-05 21:23] #278 closed

[2019-08-16 17:55] #240 closed

[2019-10-03 11:58] ErikSchierboom opened #283 "What was it like to learn TypeScript?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2019-10-06 03:24] vjba opened #286 "Pythagorean Triplet test cases producing 3 errors"
Pythagorean Triplet exercise is producing 3 errors:
* "can make triplets up to 10"
* "can make triplets 11 through 20"
* "can filter on sum"

...all with the same error code `TS2339: Property 'sort' does not exist on type 'number'.
`

Console output from `$ yarn test`
[code]

For now I am just commenting out the cases. I'll look into the issue and attempt a solution for PR soon.

[2019-10-06 13:44] SleeplessByte commented on #286
You have to return an array from the solution, not a single number.

[2019-10-06 17:29] vjba commented on #286
Whoops. You're right.

I should stop coding so late at night XD

[2019-10-06 17:29] #286 closed

[2019-10-11 14:30] Cerberuser opened #287 "Inconsistent versions of Eslint and typescript plugin"
I've just updated my previously completed exercises, according to the notification on the Exercism page, and suddenly run into a problem.

I'm using Visual Studio Code, and I've tried to make use of the TSLint plugin to catch linting errors on-the-fly. Now, as TSLint seems to be deprecated, I've migrated to ESLint, according to the new package.json (PR #276). But:
- On running `yarn`, it warned of

[2019-10-11 14:56] SleeplessByte commented on #287
Don't use tslint on this project.

[2019-10-11 15:17] Cerberuser commented on #287
The question is about the `package.json` and `.eslintrc` included in the exercises. Are they correct, or is there really a inconsistency?

I admit, I've already worked with TS and now am looking for improvements, not for start. So, of course, I could remove `@typescript-eslint/eslint-plugin` from `.eslintrc` (together with all its rules) and remove `@typescript-eslint/eslint-plugin` from dependenc

[2019-10-13 22:04] SleeplessByte commented on #287
Just a heads up: you need to run `yarn install` _before_ opening the folder in vscode, _or_ reload vscode. The `eslint` plugin unfortunately most of the time does not initialise correctly when the `node_modules` dependencies are not present. This is an issue with the plugin, not with the `exercism` repo.

No, you should not remove this.

Yes, but we'll update the dependencies soon, so this will go

[2019-10-14 13:46] #287 closed

[2019-10-16 12:16] Roshanjossey opened #292 "[Readme Yarn installation] Remove instruction to install with npm"
🐞 **Problem**
Maintainers of Yarn suggests against installing Yarn with npm.

From [Yarn install page](https://yarnpkg.com/en/docs/install#alternatives-stable)

🎯 **Goal**
Have instructions in Readme to install Yarn in a way suggested by maintainers

💡 **Possible solutions**

In exercism.io, we have better installation instructions

Windows users: can download an Installer
Linux users: can install

[2019-10-17 16:57] Roshanjossey opened #295 "[Readme Shared Code] Update name of sync configurations command and files synced"
🐞 **Problem**
Information about the command to sync config files from `common` and the files that are synced are not up-to-date in [Shared Code](https://github.com/exercism/typescript#shared-code) section.

🎯 **Goal**
Have accurate information to help contributors.

💡 **Possible solutions**

Change

`% make replacePackageFilesFromCommonToSubFolders`

to

` % make sync-configurations`

and

[code]

[2019-10-23 02:31] msomji commented on #238
created PR #297 for word-search

[2019-10-24 14:53] Roshanjossey opened #298 "Add stubs for files that doesn't have stubs."
Find the exercises that doesn't have stubs by going to https://tracks.exercism.io/typescript/master/stubs

🐞 **Problem**

From #278

🎯 **Goal**

Have stub files for all exercises to provide a better user experience.

💡 **Possible solutions**

We already have blank files of filename format `exercise-name.ts`
It needs to have what's expected by the test files. This needs to be added.
Look at the exe

[2019-10-25 09:26] francismarcus commented on #298
Created a PR, will add some more commits during the weeknd

[2019-11-06 08:52] #292 closed

[2019-11-29 18:41] msomji commented on #238
created PR #305 for Resistor-color-duo

[2019-12-12 04:43] SleeplessByte opened #392 "[v3] Roadmap to Launch"
This issue is to track the [TypeScript v3][root] roadmap. If you intend to _help_ with this track, please read this entire document, and find the section about **"How can you help"**.

---

I have been working on the TypeScript v3 track by compiling a list of TypeScript specific concepts, transition documents from various languages and starting writing exercises. The [concepts][readme] can be foun

[2020-01-09 14:57] kytrinyx opened #311 "Recruiting additional maintainers for TypeScript"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-10 22:50] msomji commented on #311
Hi my name is Maisam Somji ([msomji](https://exercism.io/profiles/msomji)) and I have been working on multiple different tracks in terms of practicing different exercises/learning new languages, mentoring others in completing their exercises as well as implementing new exercises for the tracks. With about 5 years of experience working with Javascript/Typescript/Java I have been a huge proponent of

[2020-01-11 01:18] SleeplessByte commented on #311
Related: https://github.com/exercism/typescript/pull/310

I'll have time, just like on the JS track.

[2020-02-09 00:54] darthbob88 commented on #311
Hello, my name is Raymond Price. I've been mentoring on Exercism for a couple years, and been working in frontend web development for most of the past decade. If nothing else, this will probably be some nice resume polish.

[2020-02-13 22:18] technovangelist opened #316 "Typescript tests broken"
None of the tests seem to be working. For instance on the Hello World exercise, I submitted successfully, but the tests never worked. First the tests mentioned in the article don't agree with whats installed. And then all the errors that your exercise points out arent there. When you run yarn test, you get:
`../../../../../node_modules/@types/mocha/index.d.ts:2680:13 - error TS2403: Subsequent var

[2020-02-13 22:25] SleeplessByte commented on #316
Hi there.

It's actually not the Exercism typescript tests that are broken, but your local environment. The problem here is that in the parent tree of the exercism folder (exactly at `../../../../../`), there is a "project (`package.json` or `node_modules`). `tsc` is picking up type definitions here which conflict with what we use (`jest` and `jasmine`).

The easiest solution is to purge the `node

[2020-02-13 22:25] #316 closed

[2020-02-13 22:27] SleeplessByte opened #317 "Add root / src to tsconfig"
Related to #316 .

We can make it _harder_ for students to break their installation by being very conservative with what we load. This won't help if they have a global `tsc` in some cases, but it does fix a lot of issues if there is a project (tsconfig.json, node_modules or package.json) with type definitions in the ancestor of the exercism exercise.

Feel free to take this issue and PR it.

[2020-02-20 23:04] Swizec commented on #157
For anyone coming here in the future, it's a watchman issue.

This helps: https://github.com/facebook/jest/issues/4529

[2020-02-26 11:31] paulfioravanti opened #318 "Error in Phone Number test"
In [`phone-number.test.js`](https://github.com/exercism/typescript/blob/6ab12a60348309e976dbde0abadcef48b322c4ee/exercises/phone-number/phone-number.test.ts), there is the following test:

https://github.com/exercism/typescript/blob/6ab12a60348309e976dbde0abadcef48b322c4ee/exercises/phone-number/phone-number.test.ts#L30-L33

This tests for a phone number where the area code is equal to 123. I beli

[2020-02-28 12:30] paulfioravanti commented on #318
Closing as this is a duplicate of #309.

[2020-02-28 12:30] #318 closed

[2020-04-08 03:58] kamkudla commented on #157
@Swizec This was it! Solved with `brew reinstall watchman`

[2020-05-01 21:36] pmareke commented on #311
Hi @kytrinyx I would love to help in whatever you need.

Exericism is always my first choice when I have to learn a new language!

[2020-06-09 10:18] mei4 commented on #295
I just created [this PR](https://github.com/exercism/typescript/pull/328) to fix this issue.

[2020-09-29 21:32] aes421 opened #344 "New Exercise ✨: DND Character"
I'm going to work on implementing this exercise https://github.com/exercism/problem-specifications/blob/master/exercises/dnd-character/description.md

[2020-10-15 08:33] ErikSchierboom opened #348 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-19 23:20] #88 closed

[2020-10-19 23:20] #295 closed

[2020-10-19 23:20] #317 closed

[2020-10-19 23:20] #348 closed

[2020-10-19 23:20] #55 closed

[2020-10-19 23:20] #67 closed

[2020-10-19 23:20] #126 closed

[2020-10-19 23:20] #184 closed

[2020-10-19 23:20] #222 closed

[2020-11-23 20:51] peerreynders commented on #283
Just recently it was (ironically) two "difficulty: 2" exercises that I was rounding up as stragglers after doing numerous side exercises that unexpectedly served a "eureka! moment". In particular:
- [ETL](https://exercism.io/tracks/typescript/exercises/etl/solutions/bf55d5c8616043eeb7a1ecee70446524)
- [Protein Translation](https://exercism.io/tracks/typescript/exercises/protein-translation/solutio

[2020-11-27 18:17] pedrorolo opened #361 "Is there a test missing in the grade-school exercise?"
When implementing this exercise I assumed a student could only belong in a single grade. This requirement makes the exercise interesting because the most convenient storage data structure is not the one that is meant to serve as output, and I wonder to which degree this wasn't the intended challenge underlying this exercise.

I thus propose adding the following test to the exercise:

[code]

I wou

[2020-11-28 00:53] SleeplessByte commented on #361
This exercise was meant to teach/test the students understanding of immutability. The internal structure for storage, and the method of ensuring the return values are copies of the data are open for the student.

What structure was possible _before_ this test and isn't after? I personally don't see the value in complicating the exercise, also because `Aimee` could be a different person in both gra

[2020-12-05 09:54] pedrorolo commented on #361
I am sorry, but names are necessarily unique, due to how the problem is specified on the [README](https://github.com/exercism/typescript/blob/master/exercises/grade-school/README.md):

And now, by noticing this requirement in the README, it becomes more and more clear that it makes sense to add the mentioned test case to this exercise. Or otherwise make the README more clear, by stating whether a

[2020-12-05 13:04] SleeplessByte commented on #361
No need to apologise. You're right. In this exercise names are unique.

That said, forcing a certain implementation is not the goal of _any_ V2 exercise in Exercism. Your proposed test case **does not** force said implementation (it can still be satisfied without using a Map), so I actually don't mind having it.

You may open a PR that adds the test case and changes the example so that it matches

[2020-12-12 21:44] peerreynders commented on #199
I think the real issue here is that the [JavaScript](https://github.com/exercism/javascript/tree/master/exercises/transpose/README.md) and [TypeScript](https://github.com/exercism/javascript/blob/master/exercises/transpose/README.md) `README` have essentially identical exercise descriptions yet the `expected` for the `test many lines` test case are different.
[code]

A simplified test case may ill

[2020-12-14 12:41] SleeplessByte commented on #199
@peerreynders you're correct. Would you be so kind to open a PR to fix the reference implementation and/or align the test?

[2020-12-14 14:13] peerreynders commented on #199
Do the [Pull Request Guidelines](https://github.com/exercism/docs/blob/master/contributing/pull-request-guidelines.md) cover the full spectrum of conformance requirements? If so I'll see what I can do.

[2020-12-14 16:29] SleeplessByte commented on #199
Yes @peerreynders, thanks for checking. https://github.com/exercism/typescript/blob/master/CONTRIBUTING.md is probably more helpful.

In general:

- Make sure the title makes sense
- Put a short (or long explanation) in the body; in this case you can _link to your comment_ (it will suffice).
- Make sure the CI pass. If you can't get it to pass, feel free to ping me and I'll help ya out.

[2020-12-14 17:50] SleeplessByte commented on #361
This has been merged!

[2020-12-14 17:50] #361 closed

[2020-12-14 19:24] SleeplessByte commented on #121
We have top-level track package.json tooling now that works without dynamic import.

[2020-12-14 19:24] #121 closed

[2020-12-14 21:27] SleeplessByte commented on #247
This has been solved by `tests.toml`.

[2020-12-14 21:27] #247 closed

[2020-12-15 00:56] peerreynders commented on #199
Repeating the obvious - see https://github.com/exercism/typescript/pull/371

[2020-12-15 02:15] SleeplessByte commented on #344
@aes421 did you end up doing the work? Are you stuck? Let me know!

[2020-12-19 02:03] peerreynders commented on #238
In reference to the react exercise, I wonder whether the following tests would be taking too many liberties with the canonical problem specification:

<details><summary><pre>react.test.ts</pre></summary>
<p>

[code]

</p>
</details>

The problem specification is rather object centric and the JavaScript track already has that style of tests - so I wondered whether having a more closure-oriented app

[2020-12-19 14:03] SleeplessByte commented on #238
It's a lot like react hooks; I like how it looks. I think it's fine to do the implementation like that @peerreynders .

Are you up for implementing that exercise?

[2020-12-19 15:32] peerreynders commented on #238
I was giving it a go.

I've got the tests and the example implementation and was in the process of double checking the tests against the [problem specification](https://github.com/exercism/problem-specifications/blob/master/exercises/react/canonical-data.json).

That is when I noticed that the "comments" (specifications) were a lot more detailed than the exercise's readme - for example:

My `creat

[2020-12-19 15:42] SleeplessByte commented on #238
This may help a bit. The original exercise canonical data was based on these four implementations:

https://github.com/exercism/nim/blob/master/exercises/react/test_react.nim
https://github.com/exercism/go/blob/master/exercises/react/react_test.go
https://github.com/exercism/fsharp/blob/master/exercises/react/ReactTests.fs
https://github.com/exercism/rust/blob/master/exercises/react/tests/react.rs

[2020-12-19 15:51] SleeplessByte commented on #238
(sidenote: I think this way of implementing is fine, and after some consensus / more information, we can just go ahead and do it IMO).

[2020-12-19 23:23] petertseng commented on #238
Sorry, it seems I don't know the answer to that particular question - the exercise predates me. The earliest implementation is https://github.com/exercism/go/pull/170, at which point the test was already present at https://github.com/exercism/go/pull/170/files#diff-fbee2dfe4416638f307806cda10cdd55eed82a650aa4518315e8a92e693f954eR108-R110. Though I would eventually go on to canonicalise it that way

[2020-12-20 00:31] peerreynders commented on #238
Depending on the language being used establishing value equality in the presence of generics can be tricky. It's not a problem with languages like Rust with [`std::cmp::PartialEq`](https://doc.rust-lang.org/std/cmp/trait.PartialEq.html) (or Haskell with [Eq](https://hackage.haskell.org/package/base-4.14.1.0/docs/Data-Eq.html#t:Eq)) but TypeScript doesn't have a standard interface for equivalence r

[2020-12-20 00:47] SleeplessByte commented on #238
@petertseng thank you.

@peerreynders yes I saw that; feels like `react` and `preacts` "shouldComponentUpdate". I think we should go ahead and implement this; see if it's possible to match all the test. If it deems impossible, because we took a different approach, set those test to `false` in the `tests.toml`.

[2021-01-01 03:37] neenjaw commented on #283
I started learning typescript during a brief dalliance with angular 2, but set it down as I didn't want to commit to angular 2.  I then picked it up earlier this year to convert a script I wrote in JavaScript to TypeScript.

I think at first I wanted to type everything, and probably spent too much time specifying types explicitly.  I think I have learned to allow TS to infer a lot more types, or u

[2021-01-01 11:04] SaschaMann commented on #283
I never tried to learn it "properly" but picked it up by looking at existing code bases and adapting them to the problem I had to solve. It was a pretty miserable experience because a lot of things don't work as I naïvely expected them to and because even basic TS projects come with an absurd amount of config files and tooling that is never explained or justified by the projects themselves. It app

[2021-01-05 09:25] ErikSchierboom commented on #283
I loved it. It was well-documented from the start. Had great tooling and made my day to day work a lot more enjoyable.

The official TypeScript document, as well as the TypeScript playground.

Sometimes error messages could be slightly cryptic.

Mostly just trial and error and StackOverflow.

I was not used to languages having optional typing. You can start with using `any` everywhere and then gra

[2021-01-07 14:40] ErikSchierboom opened #387 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The TypeScript section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare TypeScript for the launc

[2021-01-08 08:06] kntsoriano commented on #283
I never really learned it, but needed to pick it up during work. It was pretty hard for me as I wasn't used to declaring types as often. I come from a Ruby background.

Getting lots of feedback from @SleeplessByte. I wouldn't know how to do otherwise.

It was hard for me since error messages were hard to understand. Also, there were some null checks that I tried to implement, but the parser wasn't

[2021-01-11 14:09] peerreynders opened #388 "Binary Search Tree: Test spec is unsuited for static typing"
In particular:

https://github.com/exercism/typescript/blob/1af726c440639e59c5ac2c84881d3d654be2b22e/exercises/binary-search-tree/binary-search-tree.test.ts#L48-L53

The use of method chaining forces TypeScript to demand a return type of `BinarySearchTree` on both the `left` and `right` - which is nonsense as it is perfectly normal for there to be **no** `BinarySearchTree` on either the `left` or

[2021-01-11 15:23] SleeplessByte commented on #388
100% agree. I've mentioned before (on slack) that what you're doing now was one of my future goals. These exercises were ported when TS was waaaay younger _and_ the porters were less experienced. So some of this is legacy, and some of it is just flat out wrong.

That said.

I think it should use the [non-null assertion operator](https://www.typescriptlang.org/docs/handbook/release-notes/typescript

[2021-01-28 15:53] ErikSchierboom opened #391 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:55] ErikSchierboom commented on #391
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:26] ErikSchierboom commented on #387
As of today, the website has entered maintenance mode.

[2021-01-29 15:04] ErikSchierboom opened #394 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 15:04] ErikSchierboom opened #395 "[v3] Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 15:04] ErikSchierboom opened #396 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 15:04] ErikSchierboom opened #397 "[v3] Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 15:04] ErikSchierboom opened #398 "Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 15:04] ErikSchierboom opened #399 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 15:04] ErikSchierboom opened #400 "[v3] Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 15:04] ErikSchierboom opened #401 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 15:04] ErikSchierboom opened #402 "[v3] Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 15:04] ErikSchierboom opened #403 "Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [x] [Configure online editor](https://github.com/exercism/typescript/issues/394)
- [x] [Add key features](https://github.com/exercism/typescript/issues/395)
- [x] [Add tags](http

[2021-02-10 08:42] ErikSchierboom commented on #398
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:14] ErikSchierboom commented on #397
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-02-10 19:16] miking-the-viking commented on #391
@ErikSchierboom it seems like some Workflow files referencing master.

[2021-02-11 07:41] ErikSchierboom commented on #391
@miking-the-viking Thanks. I'll leave it up to the @exercism/typescript maintainers to fix those.

[2021-02-23 18:24] SleeplessByte commented on #391
Yeah, I'll fix it (And leave this open until then).

[2021-04-07 10:48] joshiraez commented on #395
I can take this

[2021-04-07 12:00] SleeplessByte commented on #395
@joshiraez the features do not exist somewhere yet. See the [JavaScript](https://github.com/exercism/javascript/blob/main/config.json#L1606-L1637) key features for inspiration.

[2021-04-07 12:08] #400 closed

[2021-04-07 12:09] #298 closed

[2021-04-07 19:44] joshiraez commented on #396
Can I take this? @SleeplessByte I was on the way to do it together with the key features

[2021-04-07 19:50] SleeplessByte commented on #396
Yes. Can you create a TAGS.md document like we have in the JavaScript repo explaining why each tag was chosen/not chosen?

[2021-04-08 00:03] joshiraez commented on #396
I'll take a look at the Javascript repo to see how its done and I'll try to imitate that :)

[2021-04-08 09:39] joshiraez commented on #396
I have already submitted a PR with the changes, but I'm finding a lot of errors on the CI although I only touched 3 files. The prettier and linting things I have already fixed, but no idea why the tests and the version errors are all failing. Any ideas?

[2021-04-08 12:55] SleeplessByte commented on #396
CI and configlet lint are failing on main right now, so you did great :)

[2021-04-09 00:16] joshiraez commented on #397
I'll take a look at this

[2021-04-09 00:23] #399 closed

[2021-04-09 00:23] SleeplessByte commented on #402
We don't have any, and won't have any for a while.

[2021-04-09 00:23] #402 closed

[2021-04-09 00:24] #387 closed

[2021-04-09 00:25] SleeplessByte commented on #397
We won't have concept exercises for a while, so this can be closed until we do.

[2021-04-09 00:25] #397 closed

[2021-04-09 00:32] joshiraez commented on #401
I'll do this

[2021-04-09 00:52] joshiraez commented on #250
I'll be taking a look at this

[2021-04-09 00:53] joshiraez commented on #394
I'll be taking a look at this

[2021-04-09 00:53] joshiraez commented on #21
I'll take a look at this

[2021-04-09 12:17] joshiraez commented on #311
Hi, my name is Jose. I have been lurking Exercism for one year., first as a mentor, and although I put myself as a maintainer, I seldom have done many PR's until lately.

I'm not sure if I'll be able to be a stable maintainer, but I'll stick around trying to help with the v3 remaining issues for launch, and who knows.

I have always wanted to jump into FOSS, and I liked Exercism and Camel. Sadly,

[2021-04-09 12:34] iHiD commented on #311
@joshiraez Thank you - excited to have your help 💙

[2021-04-09 15:39] joshiraez commented on #344
If you can't do it or are stuck @aes421, I'm willing to pick this one up. Seems fun

[2021-04-09 21:51] #250 closed

[2021-04-10 13:50] #392 closed

[2021-04-10 13:51] SleeplessByte commented on #392
I will create a new roadmap with Jeremy post-launch as we will try out cross-track content with this track.

[2021-04-10 13:55] #394 closed

[2021-04-10 15:11] #401 closed

[2021-04-10 15:22] #21 closed

[2021-04-10 20:51] #395 closed

[2021-04-10 20:51] #396 closed

[2021-04-10 20:52] #391 closed

[2021-04-10 20:52] SleeplessByte commented on #391
Fixed!

[2021-04-10 22:49] arcsector opened #455 "Grade School Exercise - Map Implicitly Initialized Incorrectly"
## Problem Summary

The test for Exercise 10 (Grade School) implicitly defines all test Objects as `Map<string, string[]>` which is contrary to how it is initialized (this is from line 25):

[code]

## Solutions

### Switch tests to correct explicit definition

Explicitly define `expectedDb` to be `Map<number, string[]>`:

[code]

OR

[code]

The reasoning for this is that when you initialize usin

[2021-04-10 23:23] SleeplessByte commented on #455
Hi there!

5 hours ago I pushed an update to this exercise. Due to #387 it won't sync to the website just yet, but can you check if these tests and this proof of implementation would solve your issues?

https://github.com/exercism/typescript/blob/main/exercises/practice/grade-school/grade-school.test.ts

https://github.com/exercism/typescript/blob/main/exercises/practice/grade-school/.meta/proof.c

[2021-04-10 23:23] #388 closed

[2021-04-11 00:35] arcsector commented on #455
@SleeplessByte Not particularly:

1. The method names are not the same as the previous version of the exercise
2. The test `roster cannot be modified outside of module` needs to have a result exception due to a possible undefined
3. The default datatype that everything is stored in is a plain dictionary as opposed to a Map

[2021-04-11 00:49] SleeplessByte commented on #455
It's intentionally no longer a Map. You _can_ use a Map internally if you like, but the test suite doesn't impose it.

[2021-04-11 00:53] arcsector commented on #455
Understood; I think persisting the current format of the datatypes as much as possible would be preferred to most users, especially those who have submitted public solutions, but other than that, yes this would satisfy this issue, since the default dictionary keys are type `number` and not implicitly interpreted as `string`.

I think we can close this if this is the way you're intending to go.

[2021-04-11 02:08] SleeplessByte commented on #455
Eh. I'm in the middle. I totally see the value in persisting the data types as is. I do really like to keep these new methods names (because of the canonical dataset), but if you see a way to bring back `Map`, I'd take that PR!

[2021-04-26 00:26] joshiraez opened #473 "New Exercise ✨: Knapsack"
I'll be working on implementing this exercise https://github.com/exercism/problem-specifications/blob/main/exercises/knapsack/description.md

I have a few others I want to pick up but i'll be opening the issues when I finish with the one at hand

[2021-04-26 00:29] joshiraez commented on #344
I'll wait a few more days and I'll take it myself if there is no answer. Is that ok @SleeplessByte ?

[2021-04-26 01:01] SleeplessByte commented on #344
You can take it now @joshiraez . Thanks for asking :)

[2021-04-26 01:28] joshiraez commented on #344
I'll be doing this with the other one then as the first batch of exercises. Can you assign me to both? :)

[2021-04-27 23:58] joshiraez opened #485 "New Exercise ✨: Poker"
I'll be implementing this practice exercise:

https://github.com/exercism/problem-specifications/blob/main/exercises/poker/description.md

[2021-04-27 23:59] joshiraez opened #486 "New Exercise ✨: Forth"
I'll implement https://github.com/exercism/problem-specifications/tree/main/exercises/high-scores

[2021-04-27 23:59] joshiraez opened #487 "New Exercise ✨: High-scores"
I'm going to implement https://github.com/exercism/problem-specifications/blob/main/exercises/forth

[2021-05-02 13:18] SleeplessByte opened #498 "CI: Always enforce even number major for node version"
Since uneven node versions are always unstable, we want `@types/nodes` always be an even number. It's up for debate if we should always pin LTS or current.

[2021-07-14 13:33] ErikSchierboom opened #651 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:33] ErikSchierboom opened #652 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-08-19 15:12] #651 closed

[2021-08-19 15:12] #652 closed

[2021-08-20 10:51] ErikSchierboom opened #714 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-09-02 13:11] ErikSchierboom commented on #311
We're closing this issue as it was part of our push to implement the v3 version of this track and v3 has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

New maintainer are always welcome though!

[2021-09-02 13:11] #311 closed

[2021-09-02 13:14] ErikSchierboom commented on #283
We're closing this issue as it was part of our research for the v3 version of Exercism which has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

Thanks everyone for chipping in! It has been greatly appreciated.

[2021-09-05 01:43] #403 closed

[2021-09-05 01:43] #200 closed

[2021-09-06 22:35] #398 closed

[2021-09-06 22:53] SleeplessByte commented on #344
Merged!

[2021-09-06 22:53] #344 closed

[2021-09-06 22:53] SleeplessByte commented on #473
Merged!

[2021-09-06 22:53] #473 closed

[2021-09-06 22:53] SleeplessByte commented on #485
Still wanna do this one?

[2021-09-06 22:53] SleeplessByte commented on #486
Still wanna do this one?

[2021-09-07 00:38] peerreynders opened #741 "Exercise Palindrome Products - Automated tests time out (failing)."
Currently the automated tests are failing [likely due to](https://github.com/exercism/typescript/blob/main/exercises/practice/palindrome-products/palindrome-products.test.ts#L70-L92):

[code]

I suspect that `xtest` is supposed to be `test.skip` as it can easily take 40 seconds to execute.

It may make sense to organize these tests  in their own suite (or combine them into a single test to be skip

[2021-09-07 02:51] SleeplessByte commented on #741
Yesh. This makes sense. Want to make it a test.skip and get the rep?

[2021-09-07 13:26] peerreynders commented on #741
See PR #742

[2021-09-07 22:57] SleeplessByte commented on #741
closed by #742

[2021-09-07 22:57] #741 closed

[2021-09-08 11:46] peerreynders commented on #741
There still is a problem. The analysis considers skipped tests as failed tests.

[2021-09-10 00:33] peerreynders opened #758 "Exercise DnD Character - Cannot find module 'crypto' or its corresponding type declarations"
Caveat: I'm not sure whether I'm observing intended behaviour or not. It could be a "It Works On My Machine" kind of problem - perhaps it is not.

The symptoms suggest that platform side `@types/node` isn't installed when the tests are run (perhaps *that* is intentional).

The error message is as follows:

Example [solution](https://exercism.org/tracks/typescript/exercises/dnd-character/solutions/

[2021-09-13 16:37] peerreynders opened #759 "Exercises using `test.skip()` have skipped tests marked as failed by analysis."
Examples:

https://exercism.org/tracks/typescript/exercises/palindrome-products/solutions/peerreynders
https://exercism.org/tracks/typescript/exercises/crypto-square/solutions/peerreynders

[2021-09-15 12:22] bobahop opened #764 "TypeScript: solution failed online but passed locally."
Bug, timeout or some kind of change? Time took to run : 16.309 s.

[code]

[2021-09-18 15:54] SleeplessByte commented on #759
Should have been fixed by https://github.com/exercism/typescript-test-runner/pull/25

Can you resubmit these solutions and see if they now pass?

[2021-09-18 15:59] SleeplessByte commented on #758
It seems that some how https://github.com/exercism/typescript-test-runner/blob/main/package.json#L32-L33 aren't correctly moved/injected into the solution.

You _should_ be able to use anything from `@types/node`, so this is a bug.

[2021-09-18 19:04] peerreynders commented on #759
Just did crypto square:
- Submitted via CLI; result: failed
- Went to interactive mode; ran tests: passed; submitted: passed

[code]

[2021-09-19 13:08] SleeplessByte commented on #759
So it works on the web but not via the CLI? (Just want to confirm before I ask Erik and or jeremy to help me understand the difference between these two)

[2021-09-19 18:13] peerreynders commented on #759
That was my experience (on Ubuntu 20.04 if that matters).

[2021-09-22 06:40] number5 opened #773 "`Hello, World` exercise `yarn install` failed"
[code]

`npm install` works fine though

versions:
[code]

[2021-09-24 19:38] junedev opened #775 "console.log problem in editor"
From the editor bug reports:

[2021-10-01 15:15] ProProgrammer2504 commented on #773
Don't do `yarn install`, just do `yarn` inside the exercise directory. If you are still getting the same error try installing yarn again by `npm install --global yarn`

[2021-10-01 15:29] SleeplessByte commented on #773
I see you're using yarn 2. In this case, you'll want to update to the latest version when this happens:

[code]

And then run `yarn install`.

The issue is with _yarn_ (https://github.com/yarnpkg/berry/issues/2938#issuecomment-855838927) and not with this track.

[2021-10-05 10:39] joshiraez commented on #486
I'm on it now! Sorry!

[2021-10-12 16:30] #714 closed

[2021-10-16 21:27] pawel-tomkiel opened #805 "word-count exercise tests not aligned with README instructions"
`word-count` exercise [instructions](https://github.com/exercism/typescript/blob/main/exercises/practice/word-count/.docs/instructions.md) specify word as a:

[Tests](https://github.com/exercism/typescript/blob/main/exercises/practice/word-count/word-count.test.ts#L34) however expect it to include also symbols and treat **'javascript!!&@$%^&'** as a word:
[code]

I guess we should make it consiste

[2021-10-17 00:23] AgataMaria opened #806 "docs: text missing in `/about`"
Hi, just wanted to let you know ->
Some text is missing in [about](https://exercism.org/tracks/typescript/about) > Key Features of Typescript > Consistently Good Tooling **in desktop version**.
It seems to be dropping after the 'and', should be 'and features' - which **is visible when you change the viewport size**

(full width)
<img width="1305" alt="image" src="https://user-images.githubusercont

[2021-10-17 03:47] SleeplessByte commented on #806
Thanks! This is probably actually a CSS bug where it's cut off at the bottom, so I'm moving this issue.

[2021-10-17 22:27] rodmagaldi opened #807 "New Exercise ✨: Resistor Color Trio"
Hello there! I'm new here, and I want to implement the following exercise:

https://github.com/exercism/problem-specifications/tree/main/exercises/resistor-color-trio

I saw resistor exercises on the typescript track, and I'm not happy with how the instructions are laid out for the students. I'd like to give it a go and see if I could do that any better.

Can anyone give me a green light for this?

[2021-11-03 11:09] jorjun opened #832 "RXJS"
Reactive programming (in typescript using the rxjs.js module) brings so much to the table vis typescript dev. and is such a novel way of working with the language that this module alone needs separate treatment... somehow.. the especial relevance is that typescript is so often used on the front end, and with GUI interaction rxjs really comes to the rescue by helping to keep on top of complexity. I

[2021-12-14 18:23] mick-io opened #857 "Last unit test on 'Robot Name"
Whenever solutions are submitted, the server shows that the test are failing. I'm assuming this is due to a timeout. There is a comment above the last unit test that read "This test is optional." and it takes 15+ seconds to run.

[2021-12-14 18:25] mick-io commented on #857
Whenever solutions are submitted, the server shows that the test are failing. I'm assuming this is due to a timeout. There is a comment above the last unit test that read "This test is optional." and it takes 15+ seconds to run.

[2021-12-14 20:09] SleeplessByte commented on #857
Hi @mick-io , can you check if the tests in your solution have `xtest` or `test.skip`?

[2021-12-14 20:12] SleeplessByte commented on #832
Yes. This is one of the ideas we often discuss.

cc @iHiD

[2021-12-14 20:16] mick-io commented on #857
None of the local test are being skipped and they're all passing. It just takes 16-19 seconds to run the entire suite. This is because the last test in the suite generates all possible names.

[code]

[2021-12-14 20:19] #773 closed

[2021-12-14 20:21] SleeplessByte commented on #764
Should have been solved! If not, please comment here again so we can re-open.

[2021-12-14 20:21] #764 closed

[2021-12-14 22:22] SleeplessByte commented on #857
If the tests are not submitted, then the test _should_ have `test.skip`. If it's an older version of the excercise, it would be `xtest`.

The `test-runner` (https://github.com/exercism/typescript-test-runner) will automatically unskip _all_ tests that are `xtest`, but will keep `test.skip` alone, so to be able to skip optional tests like this one. It would then not time-out.

There could be a bug

[2021-12-14 22:22] SleeplessByte commented on #807
Closed by https://github.com/exercism/typescript/pull/814

[2021-12-14 22:22] #807 closed

[2021-12-14 22:41] mick-io commented on #857
I'm quite curious what you would do to get that kind of performance  boost.

[2021-12-14 22:46] SleeplessByte commented on #857
If you want, you can send me a private mentoring session request on Exercism, but I'm happy to give you some things to think about here:

- Is the execution in time linear? In other words: if you were to check only half the names, would that take half the time? Or more? Or less? Significantly less?
- What do you think is causing this big time difference?
- How many different names are there? Is th

[2021-12-15 17:04] glennj opened #870 "Why does two-bucket use both xtest and test.skip ?"
https://github.com/exercism/typescript/blob/main/exercises/practice/two-bucket/two-bucket.test.ts

I have not checked any other exercises.

[2021-12-15 23:13] SleeplessByte commented on #870
Because the _skipped_ tests were not green for the proof.ci solution. It was a way we could update the exercise without proving all the tests pass (see the JavaScript track for the same change). Either there or here, someone did solve it, but I guess didn't update the tests.

[2021-12-17 19:51] pawel-tomkiel commented on #805
I created PR with one-line fix: https://github.com/exercism/typescript/pull/876

[2022-01-21 18:16] joshuaswickirl commented on #857
I'm getting the same behavior. Submitting a solution with `xit('all the names can be generated', ...` does not resolve the issue.

The optional test is not optional nor is it communicated anywhere that the implementation should be linear.

![image](https://user-images.githubusercontent.com/31593215/150577767-20256654-8654-412b-ab82-0f304925e220.png)

[code]

[2022-01-22 02:33] SleeplessByte commented on #857
All `xit` tests are un _xitted_ (enabled). The test runner _should_ keep `it.skip`, but apparently it doesn't.

The only quick workaround is to solve the exercise in O(n), but we will fix it properly. Just don't have the bandwidth to do that right now.

[2022-02-09 18:30] ZorgonPeterson opened #939 "Two-Fer exercise skips 2/3 tests with `xit`"
Hello!

I'm new to TypeScript, but during the `two-fer` exercise I noticed 2 tests were constantly being skipped:

[code]

I got a bit curious and checked out the test when I noticed only the first test is using the `it` while the rest are using `xit`. When I changed the test(s) from `xit` to `it`, I was able to confirm the tests passed (and my submission worked in those cases )

[code]

[code]

I

[2022-02-09 21:33] glennj commented on #939
It's documented in the `HELP.md` file that comes with the exercise:

[2022-02-10 06:49] SleeplessByte commented on #939
Thanks @glennj for the swift answer <3

[2022-02-10 06:49] #939 closed

[2022-02-13 15:12] garveychan opened #943 "'Robot Name' false positive tests"
## Issue

The [2nd](https://exercism.org/tracks/typescript/exercises/robot-name/solutions/jcsawyer123) and [3rd](https://exercism.org/tracks/typescript/exercises/robot-name/solutions/mangapi) ranked solutions for 'Robot Name' in Typescript are currently passing all unit tests even though (and primarily because) they are generating names that **_do not conform_** to the problem specification.

Whil

[2022-02-13 15:43] garveychan commented on #943
Yep, that's right. My main concern with the regex quick fix is that it may distort the timeout validation when the solution is submitted online (I'm unfamiliar with the inner workings). I'll experiment with other options when I can find some more time.

[2022-02-13 15:49] #870 closed

[2022-02-13 15:53] SleeplessByte commented on #943
Ah. Understood, thank you for that clarification. Want to post the regex test change you made? I can probably help you optimise the regex to make it faster.

#947 actually starts skipping the `all the names can be generated` test, so the timeout won't be that much of an issue anymore.

[2022-02-13 15:54] #759 closed

[2022-02-13 15:54] #857 closed

[2022-02-13 15:54] SleeplessByte commented on #857
Has now been solved!

[2022-02-13 16:05] garveychan commented on #943
I took the [existing regex test](https://github.com/exercism/typescript/blob/0e2558848129b1589b64a0dab8195a3134e5b411/exercises/practice/robot-name/robot-name.test.ts#L39) and put it into the loops where new robots were instantiated - on lines [68](https://github.com/exercism/typescript/blob/0e2558848129b1589b64a0dab8195a3134e5b411/exercises/practice/robot-name/robot-name.test.ts#L68) and [137](ht

[2022-02-13 16:07] SleeplessByte commented on #943
Sad. That's already pretty much as optimal as we can get. I'll figure out if there is a way to still test each and every name...

[2022-03-14 19:29] emiliolg opened #966 "Exercise Word Count in Typescript. Tests are wrong"
According with the instructions:
_Other than the apostrophe in a contraction all forms of punctuation are ignored_

But for example in test:
[code]
All the punctuation after the word _javascript_ is not ignored
The result should be:
[code]

[2022-04-04 02:10] rkaustchr opened #980 "Missing test case for problem "luhn""
I believe is missing a test case for the problem [luhn](https://github.com/exercism/typescript/tree/main/exercises/practice/luhn)/luhn.test.ts

There isn't a test case that covers a valid strings of length 2 without spaces.

[2022-05-01 18:32] NobbZ opened #1018 "At least one deadlink in the REPO"
The recent mass PR that intended to fix `exercism.io` to `exercism.org` blindly made me check the links across the PRs and I found a broken one in this repositories `CONTRIBUTING.md`, perhaps there are more in the remaining files.

https://github.com/exercism/typescript/blob/main/CONTRIBUTING.md?plain=1#L359

[2022-05-01 20:58] SleeplessByte commented on #1018
Thanks. Seems that that DNS entry has not been copied.

@iHiD can you fix? https://tracks.exercism.io/typescript/master/unimplemented works, the .org version does not.

[2022-06-02 19:23] rainij opened #1049 "Test-Cases of `rational-numbers` exercise satisfied by dummy-implementation"
The test-cases of `rational-numbers` are almost all of the following form:

[code]

The problem with this is, that if `new Rational(x, y)` just provides an empty object `{}` (including some dummy methods which do nothing) the test passes just fine. So (all) these tests do not really check if one correctly implements the operations on rational numbers! The only real requirement (in terms of the tes

[2022-06-13 15:34] ireddick opened #1057 "DnD Character - confused about the purpose and execution of the exercise"
I'm unsure where to raise this, as having looked at some other tracks, what I found confusing is cross-track. However as I encountered it on this track I thought I'd raise it here.

I recently started working my way through the TypeScript track, and was making decent progress until I reached the DnD Character exercise. For context, I've used Exercism in the past, so am fairly familiar with the com

[2022-06-13 19:41] SleeplessByte commented on #1057
I think these are very good questions, but the answers aren't exceptionally straight-forward. Here are a few comments based on your issue, but this is not a full-fledged response to the entire thing as a whole (as I'm a bit time constrained right now -- but I did want to give you some response soon).

1.  As you mentioned, the [common canonical problem specification](https://github.com/exercism/pr

[2022-06-25 12:08] lilnasy opened #1071 "[Grade School] Tests fail on a valid approach"
The exercise expects the student to incorporate some mutability/modification guarantees. `Object.freeze` is one of the ways the goal can be achieved in javascript - it removes mutating methods  like `.push` from the object you provide it. This is a reasonable approach. However, the test suite discourages its use by equating the runtime error to a test failure.

[2022-06-28 15:47] ireddick commented on #1057
After some thought:

1) I'll create a PR to initially ignore all but the first test

2) Having looked at the test names and test order in the canonical data for the exercise here:

  https://github.com/exercism/problem-specifications/blob/main/exercises/dnd-character/canonical-data.json

I see that the test order, test names, and the test with description 'each ability is only calculated once' (wh

[2022-07-28 01:39] FelipeFama opened #1098 "Lack to add documentation references in the exercise instructions."
I don't know if I should say it, but I'd really like it if you could add a documentation reference to the exercise instructions.
![issue](https://user-images.githubusercontent.com/91050670/181401735-a412b946-72f7-4fac-bb5b-d2bf2ebaac59.png)

[2022-07-28 15:08] SleeplessByte commented on #1098
Hi @FelipeFama, can you give an example?

[2022-07-29 00:57] FelipeFama commented on #1098
Hi @SleeplessByte I would like some examples in the instructions part and some reference to the exercise in the documentation.

[2022-07-29 01:18] SleeplessByte commented on #1098
Examples of how the code is called?
Or examples of colour combinations?

[2022-08-10 17:55] FelipeFama commented on #1098
Sorry for the delay in responding, in the javascript part there are some code examples in the instructions part of the exercise and there is always some reference in the documentation.

[2022-09-06 09:35] FrancescoMussi opened #1138 "Instructions for the exercise Secret handshake (typescript exercise #16) are confusing"
The instructions for the exercise [Secret handshake](https://exercism.org/tracks/typescript/exercises/secret-handshake) are confusing.

Why 3 (11 in binary) should return ["wink", "double blink"], that is 101 ?
Shouldn't be ["wink", "wink"] ?

Why 19 (10011) should return ["double blink", "wink"], that is 101 ?

[2022-09-07 10:17] SleeplessByte commented on #1138
[code]

Given these binary values, in order to combine them, you don't append them to each other, but rather add them together (addition):

[code]

The idea is that you look at a number in its binary representation (e.g. `1011`) and determine which things to do:

[code]

[2022-09-07 10:39] FrancescoMussi commented on #1138
Thanks for the clarification!
Now it's much more clear.

Probably it can be helpful to add this extra info to the exercise instructions, to help understand better the requirements.

[2022-09-09 12:31] SleeplessByte commented on #1138
That's something you could suggest in https://github.com/exercism/problem-specifications. The content for this exercise comes from there!

[2022-09-09 12:31] #1138 closed

[2022-09-09 16:21] #1057 closed

[2022-09-09 16:21] SleeplessByte commented on #1057
Thanks @ireddick for your issue and PR!

[2022-10-09 12:54] meatball133 opened #1176 "Spelling issue in Largest Series Product"
On a test the code is suppose to raise following error:

[code]
While it should only raise on negative values, therefore the error its raising should be: "Span must be greater or equal to zero"